# Blocks and Statements:
- Python makes decisions and performs tasks repeatedly
- Python uses indentation to show where the block starts

In [2]:
# Creating a Block
for i in range(1,13):
    print("No. {} squared is {} and cubed is {:4}".format(i, i**2, i**3))
print("*" * 50)

No. 1 squared is 1 and cubed is    1
No. 2 squared is 4 and cubed is    8
No. 3 squared is 9 and cubed is   27
No. 4 squared is 16 and cubed is   64
No. 5 squared is 25 and cubed is  125
No. 6 squared is 36 and cubed is  216
No. 7 squared is 49 and cubed is  343
No. 8 squared is 64 and cubed is  512
No. 9 squared is 81 and cubed is  729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331
No. 12 squared is 144 and cubed is 1728
**************************************************

In [3]:
# Creating a Block
for i in range(1,13):
    print("No. {} squared is {} and cubed is {:4}".format(i, i**2, i**3))
    print("*" * 50)

No. 1 squared is 1 and cubed is    1
**************************************************
No. 2 squared is 4 and cubed is    8
**************************************************
No. 3 squared is 9 and cubed is   27
**************************************************
No. 4 squared is 16 and cubed is   64
**************************************************
No. 5 squared is 25 and cubed is  125
**************************************************
No. 6 squared is 36 and cubed is  216
**************************************************
No. 7 squared is 49 and cubed is  343
**************************************************
No. 8 squared is 64 and cubed is  512
**************************************************
No. 9 squared is 81 and cubed is  729
**************************************************
No. 10 squared is 100 and cubed is 1000
**************************************************
No. 11 squared is 121 and cubed is 1331
**************************************************
No. 12 squared is 144 and cubed is 1728
**************************************************

# Making Decisions

## Using if statements
- You can use replacement fields including the ones you using as a prompt to the input function

In [23]:
name = input("Please enter your name: ")
age = int(input("How old are you, {0}? ".format(name)))
print(age)

Please enter your name: Sip
How old are you, Sip? 31
31

In [24]:
if age <= 30 :
    print("You are not old enough to vote. Please come back in {} year(s)".format(30 - age))
else:
    print("You are old enough to vote.")
    print("Please put an X in a box.")

You are old enough to vote.
Please put an X in a box.

In [25]:
if age <= 30 :
    print("You are not old enough to vote. Please come back in {} year(s)".format(30 - age))
elif age == 31:
    print("You must work Hard bro.")
else:
    print("You are old enough to vote.")
    print("Please put an X in a box.")

You must work Hard bro.

## Exercise 1: Guessing Game

In [26]:
answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("please guess higher")
elif guess > answer:
    print("please guess lower")
else:
    print("you got it first time")

Please guess number between 1 and 10:
4
please guess higher

## Exercise 2: Using if with strings

Write a small program that assigns the name of 2 trees to 2 variables, called tree1 and tree2.

If the values of the 2 variables are equal, print the message "The trees are the same", otherwise print "The trees are different."

This exercise system doesn't allow input to be used, so don't use input on lines 1 and 2 - just enter your text inside the quotes for the 2 trees.

In [27]:
tree1 = "Oak"
tree2 = "Larch"
 
# add the code to compare the trees
if tree1 == tree2:
    print("The trees are the same")
else:
    print("The trees are different")

The trees are different

## Exercise 3: Simple condition

Write a small program that assigns the value 5 to one variable, called x, and the value 7 to another, called y.

Your program should then use an if statement to compare the values, and print out x is greater than y if x is greater, or x is smaller than y if y is greater. If x equals y, print out x equals y.

In [28]:
x = 5
y = 7
 
if x > y:
    print("x is greater than y")
elif x < y:
    print("x is smaller than y")
else:
    print("x equals y")

x is smaller than y

## Exercise 4: Guessing Game

In [30]:
# else block
answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("please guess higher")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
elif guess > answer:
    print("please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
else:
    print("You got it first time")

Please guess number between 1 and 10:
5
You got it first time

In [31]:
# if block fail
answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("please guess higher")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
elif guess > answer:
    print("please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
else:
    print("You got it first time")

Please guess number between 1 and 10:
1
please guess higher
4
Sorry you have not guessed it correctly

In [32]:
# if block pass
answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("please guess higher")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
elif guess > answer:
    print("please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
else:
    print("You got it first time")

Please guess number between 1 and 10:
1
please guess higher
5
Well done, you have guessed it

In [34]:
# elif block fail

answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("please guess higher")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
elif guess > answer:
    print("please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
else:
    print("You got it first time")

Please guess number between 1 and 10:
9
please guess lower
6
Sorry you have not guessed it correctly

In [1]:
# elif block pass

answer = 5

print("Please guess number between 1 and 10: ")
guess = int(input())

if guess < answer:
    print("please guess higher")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
elif guess > answer:
    print("please guess lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you have guessed it")
    else:
        print("Sorry you have not guessed it correctly")
else:
    print("You got it first time")

Please guess number between 1 and 10:
9
please guess lower
5
Well done, you have guessed it

# Conditional Operators
- When theres a duplication of code within a block, its a good sign we must write better code.

Look at these:
 - "<"
 - "<="
 - ">"
 - ">="
 - "=="
 - "!="

## Exercise 5: Guessing Game

In [1]:
answer = 5

print("Please guess a number between 1 and 10: ")
guess = int(input())

if guess != answer:
    if guess < answer:
        print("Please guess higher")
    else:
        print("Please guess Lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you guessed it!")
    else:
        print("Sorry, you have not guessed correctly")
else:
    print("you got it the first time")

Please guess a number between 1 and 10:
4
Please guess higher
6
Sorry, you have not guessed correctly

## Exercise 6: Guessing Game Challange

In [2]:
answer = 5

print("Please guess a number between 1 and 10: ")
guess = int(input())

if guess == answer:
    print("you got it the first time")
else:
    if guess < answer:
        print("Please guess higher")
    else:
        print("Please guess Lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you guessed it!")
    else:
        print("Sorry, you have not guessed correctly")

Please guess a number between 1 and 10:
4
Please guess higher
5
Well done, you guessed it!

## Conditional Operators: Chained Comparison using AND / OR

### Complex expression from evaluating 2 simpler expressions
- When using and, Both simpler expression must evaluate True for execution of block
- When using or, either one of the espressions must evaluate True for execution of block

In [3]:
age = int(input("How old are you? "))

if age >= 16 and age <= 65:
    print('You are in your working years, Work hard, brother')

How old are you? 14

In [4]:
age = int(input("How old are you? "))

if age >= 16 and age <= 65:
    print('You are in your working years, Work hard, brother')

How old are you? 79

In [5]:
age = int(input("How old are you? "))

if age >= 16 and age <= 65:
    print('You are in your working years, Work hard, brother')

How old are you? 29
You are in your working years, Work hard, brother

## Simplify Chained Comparison

When dealing with a numerical value and a condition
- you can replace and with a simpler combarison

In [7]:
age = int(input("Please enter your age: "))

if 16 <= age <= 65: # another way to express AND
    print("All the best bro.")

Please enter your age: 32
All the best bro.

In [8]:
# print something if a condition is outside of the range

age = int(input("Please enter your age: "))

if 16 <= age <= 65:
    print("All the best bro.")
else:
    print("Enjoy your free time.")
      
print("-" * 80)

if age < 16 or age > 65:
    print("Enjoy your free time.")
else:
    print("Have a good day at work.")

Please enter your age: 55
All the best bro.
--------------------------------------------------------------------------------
Have a good day at work

## Boolean Expression: True and False
- expression that evaluates to True or False
- not reverses a boolean
    - Not True == False
    - Not False == True

In [12]:
day  = "Saturday"
temperature = 30
raining = True

if (day == "Saturday" and temperature > 27) or not raining:
    print(" Good Day to have a swim, Go Swimming!")
else:
    print("Learn Python bro")

 Good Day to have a swim, Go Swimming

### Truthy Values
-	Python tries to evaluate Boolean values after if or while statement.
    -	If empty or 0, Boolean value is evaluated to False.

In [14]:
if 0:
    print("True")
else:
    print("False")
    
name = input("Please enter your name: ")
if name:
    print("Hello, {}".format(name))
else:
    print("Are you a man with no name?")

False
Please enter your name:Sip
Hello, Sip

In [15]:
# Actively comparing string

name = input("Please enter your name: ")
if name != "":
    print("Hello, {}".format(name))
else:
    print("Are you a man with no name?")

Please enter your name: Sip
Hello, Sip

## Boolean Expression:  Conditions in / not in
### String comparision
- Case sensitive

In [19]:
parrot = "Work hard and Play Harder, Brother."

letter = input("Enter a character: ")

if letter in parrot:
    print("{} is in {}".format(letter, parrot))
else:
    print("This is not in there, Bro")

Enter a character: er
er is in Work hard and Play Harder, Brother.

In [1]:
activity = input("What would you like to do today? ")

ls = ['swimming', 'kayaking', 'water rafting', 'sky diving']

if activity not in ls:
    print("Sorry, We do not offer that")
else:
    print("You will find the nearest {} here. Do enjoy".format(ls))

What would you like to do today? cinema
Sorry, We do not offer that

In [5]:
activity = input("What would you like to do today? ")

ls = ['swimming', 'kayaking', 'water rafting', 'sky diving']

if activity not in ls:
    print("Sorry, We do not offer that")
else:
    print("You will find the nearest {} here. Do enjoy".format(ls))

What would you like to do today? swimming
You will find the nearest ['swimming', 'kayaking', 'water rafting', 'sky diving'] here. Do enjoy

In [7]:
activity = input("What would you like to do today? ")

ls = 'swimming'

if activity not in ls.casefold():
    print("Sorry, We do not offer that")
else:
    print("You will find the nearest {} here. Do enjoy".format(ls))

What would you like to do today? Swimming
Sorry, We do not offer that

### String methods

In [ ]:
#  capitalize() - Converts the first character to upper case
#  casefold() - Converts string into lower case
#  center() - Returns a centered string
#  count() -  Returns the number of times a specified value occurs in a string
#  encode() - Returns an encoded version of the string
#  endswith() - Returns true if the string ends with the specified value
#  expandtabs() - Sets the tab size of the string
#  find() - Searches the string for a specified value and returns the position of where it was found
#  format() - Formats specified values in a string
#  format_map() - Formats specified values in a string
#  index() -  Searches the string for a specified value and returns the position of where it was found
#  isalnum() -  Returns True if all characters in the string are alphanumeric
#  isalpha() -  Returns True if all characters in the string are in the alphabet
#  isdecimal() -  Returns True if all characters in the string are decimals
#  isdigit() -  Returns True if all characters in the string are digits
#  isidentifier() - Returns True if the string is an identifier
#  islower() -  Returns True if all characters in the string are lower case
#  isnumeric() -  Returns True if all characters in the string are numeric
#  isprintable() -  Returns True if all characters in the string are printable
#  isspace() -  Returns True if all characters in the string are whitespaces
#  istitle() -  Returns True if the string follows the rules of a title
#  isupper() -  Returns True if all characters in the string are upper case
#  join() - Joins the elements of an iterable to the end of the string
#  ljust() -  Returns a left justified version of the string
#  lower() -  Converts a string into lower case
#  lstrip() - Returns a left trim version of the string
#  maketrans() -  Returns a translation table to be used in translations
#  partition() -  Returns a tuple where the string is parted into three parts
#  replace() -  Returns a string where a specified value is replaced with a specified value
#  rfind() -  Searches the string for a specified value and returns the last position of where it was found
#  rindex() - Searches the string for a specified value and returns the last position of where it was found
#  rjust() -  Returns a right justified version of the string
#  rpartition() - Returns a tuple where the string is parted into three parts
#  rsplit() - Splits the string at the specified separator, and returns a list
#  rstrip() - Returns a right trim version of the string
#  split() -  Splits the string at the specified separator, and returns a list
#  splitlines() - Splits the string at line breaks and returns a list
#  startswith() - Returns true if the string starts with the specified value
#  strip() -  Returns a trimmed version of the string
#  swapcase() - Swaps cases, lower case becomes upper case and vice versa
#  title() -  Converts the first character of each word to upper case
#  translate() -  Returns a translated string
#  upper() -  Converts a string into upper case
#  zfill() -  Fills the string with a specified number of 0 values at the beginning

# Loop basics:
- This can be found in Pythonâ€™s itertools library
- It is dealing with iterators that can massively improve your code efficiency.
- But we will look into fundamental concepts of while loops and for loops.

## Understanding Loops in Python

### While Loop:
-  while loop continues to execute a block of code as long as a specified condition is true.

In [ ]:
while condition:
    # Code to be executed while the condition is true
    # This code block will repeat until the condition becomes false

### For Loop:
- for loop is used for iterating over a sequence (that is either a list, tuple, dictionary, string, or range).

In [ ]:
for variable in sequence/iterable:
    # Code to be executed for each item in the sequence

# For Loop

## Exercise 1: How loop work

In [1]:
parrot = "Norwegian Blue"

# in has another use in loops

for char in parrot:
    print(char)

    
# each value in iterable is outputed in a separate line
# for loop execute the code block until there nore more values

N
o
r
w
e
g
i
a
n

B
l
u
e

## Exercise 2: Getting Separators

In [2]:
number = "9,223:342:074 485,347,807"
sep = ''

for char in number:
    if not char.isnumeric():
        sep = sep + char
print(sep)

,:: ,,

## Exercise 3: Getting numeric values

In [4]:
number = "9,223:342:074 485,347,807"
num = ''

for n in number:
    if n.isnumeric():
        num = num + n
print(num)

9223342074485347807

## Exercise 4: Iterating over Input Value

In [8]:
number = input("Please enter the amount of money you will make in 2024: R ")

sep = ""

for i in number:
    if not i.isnumeric():
        sep = sep + i 
print(sep)

Please enter the amount of money you will make in 2024: R 1,000,000,000.00
,,,.

## Exercise 5: Iterationg over Range

In [11]:
for i in range(1,20):
    print("i is now {}".format(i))

i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15
i is now 16
i is now 17
i is now 18
i is now 19

## Exercise 6: Extracting capitals
Write a program to print out the capital letters in the string

"Alright, but apart from the Sanitation, the Medicine, Education, Wine, Public Order, Irrigation, Roads, the Fresh-Water System, and Public Health, what have the Romans ever done for us?"

Check out the string methods for one way to test if a character is in uppercase.

In [9]:
string = """
Alright, but apart from the Sanitation, the Medicine, Education, Wine,
Public Order, Irrigation, Roads, the Fresh-Water System,
and Public Health, what have the Romans ever done for us?
"""

caps = ""

for i in string:
    if i.isupper():
        caps = caps + i
print(caps)

ASMEWPOIRFWSPHR

In [10]:
for char in string:
    if char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
        print(char)

A
S
M
E
W
P
O
I
R
F
W
S
P
H
R

## Exercise 7: The Range Function

In [2]:
start = 1
end = 20

for i in range(start, end):
    print("i is now {}".format(i))

i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9
i is now 10
i is now 11
i is now 12
i is now 13
i is now 14
i is now 15
i is now 16
i is now 17
i is now 18
i is now 19

In [3]:
# by not stating start value, this will now default to 0

for i in range(10):
    print(f"i is now {i}")

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9

In [4]:
# By not stating start value, and adding the step value, 

for i in range(10, 2):
    print(f"i is now {i}")
    
# There is no output because start value is not stated

In [5]:
# Correct the above by adding the start value

for i in range(0, 10, 2):
    print(f"i is now {i}")

i is now 0
i is now 2
i is now 4
i is now 6
i is now 8

In [6]:
# Reverse steps in range value

for i in range(10, 0, -2):
    print(f"i is now {i}")

i is now 10
i is now 8
i is now 6
i is now 4
i is now 2

In [7]:
# Checking if value is in the range function

age = int(input("Please enter your age: "))

# if 16 <= age <= 65:
if age in range(16, 66):
    print("All the best bro.")
else:
    print("Enjoy your free time.")
      
print("-" * 80)

if age < 16 or age > 65:
    print("Enjoy your free time.")
else:
    print("Have a good day at work.")

Please enter your age: 29
All the best bro.
--------------------------------------------------------------------------------
Have a good day at work.

## Exercise 8: For loop with step
- Write a program to print out all the numbers from 0 to 100 that are divisible by 7.
- Note that zero is considered to be divisible by all other integers, so your output should include zero.

In [10]:
# This solution uses a step value for the range function
for i in range(0, 101, 7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [11]:
# This solution uses a slice
for i in range(101)[::7]:
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## Exercise 9: Nested for loops times tables

In [16]:
for i in range(1,13):
    for j in range(1,13):
        print(f"{i} times {j} is {i *j}")
    print('-' * 80)    
    
    
# When i have the value of 1, j will loop 12 times
# When i have the value of 2, j will loop 12 times
# When i have the value of 3, j will loop 12 times ...

# Indent print inline of second loop, line printed will occur once all j is looped over for i

1 times 1 is 1
1 times 2 is 2
1 times 3 is 3
1 times 4 is 4
1 times 5 is 5
1 times 6 is 6
1 times 7 is 7
1 times 8 is 8
1 times 9 is 9
1 times 10 is 10
1 times 11 is 11
1 times 12 is 12
--------------------------------------------------------------------------------
2 times 1 is 2
2 times 2 is 4
2 times 3 is 6
2 times 4 is 8
2 times 5 is 10
2 times 6 is 12
2 times 7 is 14
2 times 8 is 16
2 times 9 is 18
2 times 10 is 20
2 times 11 is 22
2 times 12 is 24
--------------------------------------------------------------------------------
3 times 1 is 3
3 times 2 is 6
3 times 3 is 9
3 times 4 is 12
3 times 5 is 15
3 times 6 is 18
3 times 7 is 21
3 times 8 is 24
3 times 9 is 27
3 times 10 is 30
3 times 11 is 33
3 times 12 is 36
--------------------------------------------------------------------------------
4 times 1 is 4
4 times 2 is 8
4 times 3 is 12
4 times 4 is 16
4 times 5 is 20
4 times 6 is 24
4 times 7 is 28
4 times 8 is 32
4 times 9 is 36
4 times 10 is 40
4 times 11 is 44
4 times 12 is 48
--------------------------------------------------------------------------------
5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
5 times 6 is 30
5 times 7 is 35
5 times 8 is 40
5 times 9 is 45
5 times 10 is 50
5 times 11 is 55
5 times 12 is 60
--------------------------------------------------------------------------------
6 times 1 is 6
6 times 2 is 12
6 times 3 is 18
6 times 4 is 24
6 times 5 is 30
6 times 6 is 36
6 times 7 is 42
6 times 8 is 48
6 times 9 is 54
6 times 10 is 60
6 times 11 is 66
6 times 12 is 72
--------------------------------------------------------------------------------
7 times 1 is 7
7 times 2 is 14
7 times 3 is 21
7 times 4 is 28
7 times 5 is 35
7 times 6 is 42
7 times 7 is 49
7 times 8 is 56
7 times 9 is 63
7 times 10 is 70
7 times 11 is 77
7 times 12 is 84
--------------------------------------------------------------------------------
8 times 1 is 8
8 times 2 is 16
8 times 3 is 24
8 times 4 is 32
8 times 5 is 40
8 times 6 is 48
8 times 7 is 56
8 times 8 is 64
8 times 9 is 72
8 times 10 is 80
8 times 11 is 88
8 times 12 is 96
--------------------------------------------------------------------------------
9 times 1 is 9
9 times 2 is 18
9 times 3 is 27
9 times 4 is 36
9 times 5 is 45
9 times 6 is 54
9 times 7 is 63
9 times 8 is 72
9 times 9 is 81
9 times 10 is 90
9 times 11 is 99
9 times 12 is 108
--------------------------------------------------------------------------------
10 times 1 is 10
10 times 2 is 20
10 times 3 is 30
10 times 4 is 40
10 times 5 is 50
10 times 6 is 60
10 times 7 is 70
10 times 8 is 80
10 times 9 is 90
10 times 10 is 100
10 times 11 is 110
10 times 12 is 120
--------------------------------------------------------------------------------
11 times 1 is 11
11 times 2 is 22
11 times 3 is 33
11 times 4 is 44
11 times 5 is 55
11 times 6 is 66
11 times 7 is 77
11 times 8 is 88
11 times 9 is 99
11 times 10 is 110
11 times 11 is 121
11 times 12 is 132
--------------------------------------------------------------------------------
12 times 1 is 12
12 times 2 is 24
12 times 3 is 36
12 times 4 is 48
12 times 5 is 60
12 times 6 is 72
12 times 7 is 84
12 times 8 is 96
12 times 9 is 108
12 times 10 is 120
12 times 11 is 132
12 times 12 is 144
--------------------------------------------------------------------------------

In [24]:
# Indent print inside within --> Line printed after each multiplication

for i in range(1,13):
    for j in range(1,13):
        print(f"{i} times {j} is {i *j}")
        print('-' * 80)

1 times 1 is 1
--------------------------------------------------------------------------------
1 times 2 is 2
--------------------------------------------------------------------------------
1 times 3 is 3
--------------------------------------------------------------------------------
1 times 4 is 4
--------------------------------------------------------------------------------
1 times 5 is 5
--------------------------------------------------------------------------------
1 times 6 is 6
--------------------------------------------------------------------------------
1 times 7 is 7
--------------------------------------------------------------------------------
1 times 8 is 8
--------------------------------------------------------------------------------
1 times 9 is 9
--------------------------------------------------------------------------------
1 times 10 is 10
--------------------------------------------------------------------------------
1 times 11 is 11
--------------------------------------------------------------------------------
1 times 12 is 12
--------------------------------------------------------------------------------
2 times 1 is 2
--------------------------------------------------------------------------------
2 times 2 is 4
--------------------------------------------------------------------------------
2 times 3 is 6
--------------------------------------------------------------------------------
2 times 4 is 8
--------------------------------------------------------------------------------
2 times 5 is 10
--------------------------------------------------------------------------------
2 times 6 is 12
--------------------------------------------------------------------------------
2 times 7 is 14
--------------------------------------------------------------------------------
2 times 8 is 16
--------------------------------------------------------------------------------
2 times 9 is 18
--------------------------------------------------------------------------------
2 times 10 is 20
--------------------------------------------------------------------------------
2 times 11 is 22
--------------------------------------------------------------------------------
2 times 12 is 24
--------------------------------------------------------------------------------
3 times 1 is 3
--------------------------------------------------------------------------------
3 times 2 is 6
--------------------------------------------------------------------------------
3 times 3 is 9
--------------------------------------------------------------------------------
3 times 4 is 12
--------------------------------------------------------------------------------
3 times 5 is 15
--------------------------------------------------------------------------------
3 times 6 is 18
--------------------------------------------------------------------------------
3 times 7 is 21
--------------------------------------------------------------------------------
3 times 8 is 24
--------------------------------------------------------------------------------
3 times 9 is 27
--------------------------------------------------------------------------------
3 times 10 is 30
--------------------------------------------------------------------------------
3 times 11 is 33
--------------------------------------------------------------------------------
3 times 12 is 36
--------------------------------------------------------------------------------
4 times 1 is 4
--------------------------------------------------------------------------------
4 times 2 is 8
--------------------------------------------------------------------------------
4 times 3 is 12
--------------------------------------------------------------------------------
4 times 4 is 16
--------------------------------------------------------------------------------
4 times 5 is 20
--------------------------------------------------------------------------------
4 times 6 is 24
--------------------------------------------------------------------------------
4 times 7 is 28
--------------------------------------------------------------------------------
4 times 8 is 32
--------------------------------------------------------------------------------
4 times 9 is 36
--------------------------------------------------------------------------------
4 times 10 is 40
--------------------------------------------------------------------------------
4 times 11 is 44
--------------------------------------------------------------------------------
4 times 12 is 48
--------------------------------------------------------------------------------
5 times 1 is 5
--------------------------------------------------------------------------------
5 times 2 is 10
--------------------------------------------------------------------------------
5 times 3 is 15
--------------------------------------------------------------------------------
5 times 4 is 20
--------------------------------------------------------------------------------
5 times 5 is 25
--------------------------------------------------------------------------------
5 times 6 is 30
--------------------------------------------------------------------------------
5 times 7 is 35
--------------------------------------------------------------------------------
5 times 8 is 40
--------------------------------------------------------------------------------
5 times 9 is 45
--------------------------------------------------------------------------------
5 times 10 is 50
--------------------------------------------------------------------------------
5 times 11 is 55
--------------------------------------------------------------------------------
5 times 12 is 60
--------------------------------------------------------------------------------
6 times 1 is 6
--------------------------------------------------------------------------------
6 times 2 is 12
--------------------------------------------------------------------------------
6 times 3 is 18
--------------------------------------------------------------------------------
6 times 4 is 24
--------------------------------------------------------------------------------
6 times 5 is 30
--------------------------------------------------------------------------------
6 times 6 is 36
--------------------------------------------------------------------------------
6 times 7 is 42
--------------------------------------------------------------------------------
6 times 8 is 48
--------------------------------------------------------------------------------
6 times 9 is 54
--------------------------------------------------------------------------------
6 times 10 is 60
--------------------------------------------------------------------------------
6 times 11 is 66
--------------------------------------------------------------------------------
6 times 12 is 72
--------------------------------------------------------------------------------
7 times 1 is 7
--------------------------------------------------------------------------------
7 times 2 is 14
--------------------------------------------------------------------------------
7 times 3 is 21
--------------------------------------------------------------------------------
7 times 4 is 28
--------------------------------------------------------------------------------
7 times 5 is 35
--------------------------------------------------------------------------------
7 times 6 is 42
--------------------------------------------------------------------------------
7 times 7 is 49
--------------------------------------------------------------------------------
7 times 8 is 56
--------------------------------------------------------------------------------
7 times 9 is 63
--------------------------------------------------------------------------------
7 times 10 is 70
--------------------------------------------------------------------------------
7 times 11 is 77
--------------------------------------------------------------------------------
7 times 12 is 84
--------------------------------------------------------------------------------
8 times 1 is 8
--------------------------------------------------------------------------------
8 times 2 is 16
--------------------------------------------------------------------------------
8 times 3 is 24
--------------------------------------------------------------------------------
8 times 4 is 32
--------------------------------------------------------------------------------
8 times 5 is 40
--------------------------------------------------------------------------------
8 times 6 is 48
--------------------------------------------------------------------------------
8 times 7 is 56
--------------------------------------------------------------------------------
8 times 8 is 64
--------------------------------------------------------------------------------
8 times 9 is 72
--------------------------------------------------------------------------------
8 times 10 is 80
--------------------------------------------------------------------------------
8 times 11 is 88
--------------------------------------------------------------------------------
8 times 12 is 96
--------------------------------------------------------------------------------
9 times 1 is 9
--------------------------------------------------------------------------------
9 times 2 is 18
--------------------------------------------------------------------------------
9 times 3 is 27
--------------------------------------------------------------------------------
9 times 4 is 36
--------------------------------------------------------------------------------
9 times 5 is 45
--------------------------------------------------------------------------------
9 times 6 is 54
--------------------------------------------------------------------------------
9 times 7 is 63
--------------------------------------------------------------------------------
9 times 8 is 72
--------------------------------------------------------------------------------
9 times 9 is 81
--------------------------------------------------------------------------------
9 times 10 is 90
--------------------------------------------------------------------------------
9 times 11 is 99
--------------------------------------------------------------------------------
9 times 12 is 108
--------------------------------------------------------------------------------
10 times 1 is 10
--------------------------------------------------------------------------------
10 times 2 is 20
--------------------------------------------------------------------------------
10 times 3 is 30
--------------------------------------------------------------------------------
10 times 4 is 40
--------------------------------------------------------------------------------
10 times 5 is 50
--------------------------------------------------------------------------------
10 times 6 is 60
--------------------------------------------------------------------------------
10 times 7 is 70
--------------------------------------------------------------------------------
10 times 8 is 80
--------------------------------------------------------------------------------
10 times 9 is 90
--------------------------------------------------------------------------------
10 times 10 is 100
--------------------------------------------------------------------------------
10 times 11 is 110
--------------------------------------------------------------------------------
10 times 12 is 120
--------------------------------------------------------------------------------
11 times 1 is 11
--------------------------------------------------------------------------------
11 times 2 is 22
--------------------------------------------------------------------------------
11 times 3 is 33
--------------------------------------------------------------------------------
11 times 4 is 44
--------------------------------------------------------------------------------
11 times 5 is 55
--------------------------------------------------------------------------------
11 times 6 is 66
--------------------------------------------------------------------------------
11 times 7 is 77
--------------------------------------------------------------------------------
11 times 8 is 88
--------------------------------------------------------------------------------
11 times 9 is 99
--------------------------------------------------------------------------------
11 times 10 is 110
--------------------------------------------------------------------------------
11 times 11 is 121
--------------------------------------------------------------------------------
11 times 12 is 132
--------------------------------------------------------------------------------
12 times 1 is 12
--------------------------------------------------------------------------------
12 times 2 is 24
--------------------------------------------------------------------------------
12 times 3 is 36
--------------------------------------------------------------------------------
12 times 4 is 48
--------------------------------------------------------------------------------
12 times 5 is 60
--------------------------------------------------------------------------------
12 times 6 is 72
--------------------------------------------------------------------------------
12 times 7 is 84
--------------------------------------------------------------------------------
12 times 8 is 96
--------------------------------------------------------------------------------
12 times 9 is 108
--------------------------------------------------------------------------------
12 times 10 is 120
--------------------------------------------------------------------------------
12 times 11 is 132
--------------------------------------------------------------------------------
12 times 12 is 144
--------------------------------------------------------------------------------

In [26]:
# Indent print inline of first loop, line printed will occur once everthing is looped over for i

for i in range(1,13):
    for j in range(1,13):
        print(f"{i} times {j} is {i *j}")
print('-' * 80)

1 times 1 is 1
1 times 2 is 2
1 times 3 is 3
1 times 4 is 4
1 times 5 is 5
1 times 6 is 6
1 times 7 is 7
1 times 8 is 8
1 times 9 is 9
1 times 10 is 10
1 times 11 is 11
1 times 12 is 12
2 times 1 is 2
2 times 2 is 4
2 times 3 is 6
2 times 4 is 8
2 times 5 is 10
2 times 6 is 12
2 times 7 is 14
2 times 8 is 16
2 times 9 is 18
2 times 10 is 20
2 times 11 is 22
2 times 12 is 24
3 times 1 is 3
3 times 2 is 6
3 times 3 is 9
3 times 4 is 12
3 times 5 is 15
3 times 6 is 18
3 times 7 is 21
3 times 8 is 24
3 times 9 is 27
3 times 10 is 30
3 times 11 is 33
3 times 12 is 36
4 times 1 is 4
4 times 2 is 8
4 times 3 is 12
4 times 4 is 16
4 times 5 is 20
4 times 6 is 24
4 times 7 is 28
4 times 8 is 32
4 times 9 is 36
4 times 10 is 40
4 times 11 is 44
4 times 12 is 48
5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
5 times 6 is 30
5 times 7 is 35
5 times 8 is 40
5 times 9 is 45
5 times 10 is 50
5 times 11 is 55
5 times 12 is 60
6 times 1 is 6
6 times 2 is 12
6 times 3 is 18
6 times 4 is 24
6 times 5 is 30
6 times 6 is 36
6 times 7 is 42
6 times 8 is 48
6 times 9 is 54
6 times 10 is 60
6 times 11 is 66
6 times 12 is 72
7 times 1 is 7
7 times 2 is 14
7 times 3 is 21
7 times 4 is 28
7 times 5 is 35
7 times 6 is 42
7 times 7 is 49
7 times 8 is 56
7 times 9 is 63
7 times 10 is 70
7 times 11 is 77
7 times 12 is 84
8 times 1 is 8
8 times 2 is 16
8 times 3 is 24
8 times 4 is 32
8 times 5 is 40
8 times 6 is 48
8 times 7 is 56
8 times 8 is 64
8 times 9 is 72
8 times 10 is 80
8 times 11 is 88
8 times 12 is 96
9 times 1 is 9
9 times 2 is 18
9 times 3 is 27
9 times 4 is 36
9 times 5 is 45
9 times 6 is 54
9 times 7 is 63
9 times 8 is 72
9 times 9 is 81
9 times 10 is 90
9 times 11 is 99
9 times 12 is 108
10 times 1 is 10
10 times 2 is 20
10 times 3 is 30
10 times 4 is 40
10 times 5 is 50
10 times 6 is 60
10 times 7 is 70
10 times 8 is 80
10 times 9 is 90
10 times 10 is 100
10 times 11 is 110
10 times 12 is 120
11 times 1 is 11
11 times 2 is 22
11 times 3 is 33
11 times 4 is 44
11 times 5 is 55
11 times 6 is 66
11 times 7 is 77
11 times 8 is 88
11 times 9 is 99
11 times 10 is 110
11 times 11 is 121
11 times 12 is 132
12 times 1 is 12
12 times 2 is 24
12 times 3 is 36
12 times 4 is 48
12 times 5 is 60
12 times 6 is 72
12 times 7 is 84
12 times 8 is 96
12 times 9 is 108
12 times 10 is 120
12 times 11 is 132
12 times 12 is 144
--------------------------------------------------------------------------------

## Exercise 10: Printing the multiplication table

### Psuedocode

##### Declaring the function
- Use the def keyword
    - followed by function name
    - in parentheses, parse the parameter
- Use the for loop, to print the table in a vertical format(row)
    - used range function as it is an iterable function which takes 3 parameters:
        - start 
        - stop (a+1)
        - step
- Use another for loop, to print the tables horisontal format(column)
    - used range function as it is an iterable function which takes 3 parameters:
        - start
        - stop (n+1)
        - step
    - Then we will print the multiplication of for loop range elements and at the end add a tab/pipe between the elements  
- We come out if the loop and use a empty print function
    - This will give the space between each table(column in this case)
- Take input from user
- and the call the function and pass the argument that the user inputed above

In [21]:
# declaring the function
def header(n):
    for i in range(1):
        for j in range(1, n+1):
            print( 'x_' + str(j), end = '\t | ' )
        print()
    print('----' * 30)
    
    
def create_multipliction_table(n):
    header(mul_input)
    for i in range(1,13):
        for j in range(1, n+1):
            print(i * j , end = '\t | ')
        print() 
    
mul_input = int(input("Please enter Times table format: "))

# call the function
create_multipliction_table(mul_input)

Please enter Times table format: 15
x_1	 | x_2	 | x_3	 | x_4	 | x_5	 | x_6	 | x_7	 | x_8	 | x_9	 | x_10	 | x_11	 | x_12	 | x_13	 | x_14	 | x_15	 |
------------------------------------------------------------------------------------------------------------------------
1	 | 2	 | 3	 | 4	 | 5	 | 6	 | 7	 | 8	 | 9	 | 10	 | 11	 | 12	 | 13	 | 14	 | 15	 |
2	 | 4	 | 6	 | 8	 | 10	 | 12	 | 14	 | 16	 | 18	 | 20	 | 22	 | 24	 | 26	 | 28	 | 30	 |
3	 | 6	 | 9	 | 12	 | 15	 | 18	 | 21	 | 24	 | 27	 | 30	 | 33	 | 36	 | 39	 | 42	 | 45	 |
4	 | 8	 | 12	 | 16	 | 20	 | 24	 | 28	 | 32	 | 36	 | 40	 | 44	 | 48	 | 52	 | 56	 | 60	 |
5	 | 10	 | 15	 | 20	 | 25	 | 30	 | 35	 | 40	 | 45	 | 50	 | 55	 | 60	 | 65	 | 70	 | 75	 |
6	 | 12	 | 18	 | 24	 | 30	 | 36	 | 42	 | 48	 | 54	 | 60	 | 66	 | 72	 | 78	 | 84	 | 90	 |
7	 | 14	 | 21	 | 28	 | 35	 | 42	 | 49	 | 56	 | 63	 | 70	 | 77	 | 84	 | 91	 | 98	 | 105	 |
8	 | 16	 | 24	 | 32	 | 40	 | 48	 | 56	 | 64	 | 72	 | 80	 | 88	 | 96	 | 104	 | 112	 | 120	 |
9	 | 18	 | 27	 | 36	 | 45	 | 54	 | 63	 | 72	 | 81	 | 90	 | 99	 | 108	 | 117	 | 126	 | 135	 |
10	 | 20	 | 30	 | 40	 | 50	 | 60	 | 70	 | 80	 | 90	 | 100	 | 110	 | 120	 | 130	 | 140	 | 150	 |
11	 | 22	 | 33	 | 44	 | 55	 | 66	 | 77	 | 88	 | 99	 | 110	 | 121	 | 132	 | 143	 | 154	 | 165	 |
12	 | 24	 | 36	 | 48	 | 60	 | 72	 | 84	 | 96	 | 108	 | 120	 | 132	 | 144	 | 156	 | 168	 | 180	 |

## Exercise 11: continue statement in for loop

Using the shopping list example
- Add anytype of object of list
    - string
    - number
    
Cause everything in the loop to be ignored and continues with the next iteration of the loop

In [3]:
shopping_list = ['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

for item in shopping_list:
    # if you dont like an item in list, you can check and exclude it if not what you want
    if item != "spam":
        print("Buy " + item)

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

In [5]:
# Using continue to move on if its not what you want

for item in shopping_list:
    # if you dont like an item in list, you can check and continue
    if item == "spam":
        continue  # Cause everything in the loop to be ignored and continues with the next iteration of the loop
    print("Buy " + item)

Buy milk
Buy pasta
Buy eggs
Buy bread
Buy rice

In [6]:
for letter in 'Django':
    if letter  == 'D':
        continue
    print(f'The current letter is: {letter}')

The current letter is: j
The current letter is: a
The current letter is: n
The current letter is: g
The current letter is: o

In [ ]:
# Use it when there are alot of conditions to be fulfilled before main code
# this helps you avoid getting deeply nested

for x,y in zip(a,b):
    if x <= y:
        continue
    z = calculate_z(x,y)
    if y - z >= x:
        continue
    y = min(y, z)
    if x**2 - y**2 <= 0:
        continue
    lot_of()
    code_here()

## Exercise 12 : break statement in the for loop

This terminates the block when it gets to that specific condition

Using the example where you are searching for an item in a super long list. 
- if you find the item we are looking for the is use searching the rest of the item.

In [7]:
for item in shopping_list:
    # if you dont like an item in list, you can check and continue
    if item == "spam":
        break  # Cause everything in the loop to be ignored and stops completely
    print("Buy " + item)

Buy milk
Buy pasta
Buy eggs

## Exercise 13 : Searching for an item

In [12]:
# find item in the variable
# and once found, store poition at found@ variable

shopping_list

item_to_find = "spam"
found_at = None # constant used to show something doesnt have a value

for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at == index
        break
print(f'Item found at position: {found_at}')

Item found at position: None

## Exercise 14 : What happends when item doesnt exhist

In [13]:
shopping_list

['milk', 'pasta', 'eggs', 'spam', 'bread', 'rice']

In [14]:
item_to_find = "pen"
found_at = None # constant used to show something doesnt have a value

for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at == index
        break
print(f'Item found at position: {found_at}')

Item found at position: None

In [15]:
item_to_find = "pen"
# found_at = None # constant used to show something doesnt have a value

for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at == index
        break
print(f'Item found at position: {found_at}')

Item found at position: None

In [16]:
item_to_find = "pen"
found_at = None # constant used to show something doesnt have a value

for index in range(len(shopping_list)):
    if shopping_list[index] == item_to_find:
        found_at == index
        break
        
if found_at is not None:
    print(f'Item found at position: {found_at}')
else:
    print(f'{item_to_find} not found')

pen not found

In [18]:
# Better way to write the above code

item_to_find = "spam"

if item_to_find in shopping_list:
    found_at = shopping_list.index(item_to_find)
    
if found_at is not None:
    print(f'Item found at position: {found_at}')
else:
    print(f'{item_to_find} not found')

Item found at position: 3

# While Loop

## Exercise 1: from for loop to while loop

Used to loop as long as a condition is True and stop when it becomes False

In [19]:
for i in range(10):
    print(f'i is now {i}')

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9

In [21]:
i = 0

while i < 10:
    print(f'i is now {i}')
    i = i + 1

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9

## Exercise 2: Adventure with while loop

In [22]:
available_exits = ['north', 'south', 'east', 'west']

chosen_exit = ""

while chosen_exit not in available_exits:
    chosen_exit = input("Please choose a direction: ")
print('Are\'nt you glad you got out of there?')

# while empty string is not in the above list, ask user to input direction.
# while input is not in the list again (True), ask user again
# while input is not not in the list again (False), execute print line

Please choose a direction: west
Are'nt you glad you got out of there?

## Exercise 3: Using break and continue with while loops

In [23]:
available_exits = ['north', 'south', 'east', 'west']

chosen_exit = ""

while chosen_exit not in available_exits:
    chosen_exit = input("Please choose a direction: ")
    if chosen_exit == 'quit':
        print('Game over')
        break
print('Are\'nt you glad you got out of there?')

Please choose a direction: quit
Game over
Are'nt you glad you got out of there?

In [24]:
available_exits = ['north', 'south', 'east', 'west']

chosen_exit = ""

while chosen_exit not in available_exits:
    chosen_exit = input("Please choose a direction: ")
    if chosen_exit.casefold() == 'quit':
        print('Game over')
        break
print('Are\'nt you glad you got out of there?')

Please choose a direction: Quit
Game over
Are'nt you glad you got out of there?

## Exercise 4: Break
Modify the code so that it stops printing when it reaches a number greater than zero that's exactly divisible by 11.

That number should be the last value printed.

Reminder: If a value, x, is divisible by 11 then x % 11 will be zero.

The code should print the same values as it currently does, but stop after printing a number that's also divisible by 11.

Hint: 0 is exactly divisible by every number, so your solution will need to allow for that.

In [25]:
# Modify the code inside this loop to stop when i is greater than zero and exactly divisible by 11
for i in range(0, 100, 7):
    print(i)
    if i > 0 and i % 11 == 0:
        break

0
7
14
21
28
35
42
49
56
63
70
77

## Exercise 5: Continue 
Write a program to print out all the numbers from 0 to 20 that aren't divisible by either 3 or 5.

Zero is considered divisible by everything (zero should not appear in the output).

The aim is to use the continue statement, but it's also possible to do this without continue.

In [26]:
# using continue
for x in range(21):
    if x % 3 == 0 or x % 5 == 0:
        continue
    print(x)

1
2
4
7
8
11
13
14
16
17
19

In [27]:
# without continue
for x in range(21):
    if x % 3 != 0 and x % 5 != 0:
        print(x)

1
2
4
7
8
11
13
14
16
17
19

## Exercise 6 : Checking Single digit using while loop
This must do the following:
- if you type a single digit, program must say "valid single digit"
- If a double digit or more, it must say "invalid digit"

### Psuedocode

##### Declare the function
- Use the def keyword
    - followed by function name
    - in parentheses, parse the parameter
- Use an if-else statement
    - check the length of the number and if its a digit
    - return true 
    - else return false
    
- Use a while loop if true
    - take the user inputted number
- if above function is true
    - print sentence
    - then break
    - else 
    - print the other statement
    
- print what you like to say and show the unputted number

In [ ]:
def check_single_digit(number):
    if len(number) == 1 and number.isdigit():
        return True
    else:
        return False
    
    
while True:
    input_digit = input("Please enter the number you want to chack: ")
    if check_single_digit(input_digit):
        print('This is a valid single digit, Thank you.')
        break
    else:
        print("Not a valid single digit. please try again.")

print("The single digit you have entered is: ", input_digit)

## TERMS TO REMEMBER:
- User Input: 
    - The program prompts the user to enter a number (n). 
    - This number determines the size of the pattern to be generated.
- For Loop: 
    - A for loop is employed to iterate from the range. 
    - The loop variable i will be used.
- Outer Loop (for i in range(......):): 
    - The outer loop runs from 1 to n (inclusive). 
    - It is responsible for iterating through each **row** of the pattern.
- Inner Loop (for j in range(....):): 
    - The inner loop runs from 1 to i (inclusive), where i is the current value of the outer loop variable. 
    - This loop controls the number of **columns for each row**, 
        - starting from 1 and incrementing with each iteration of the outer loop.
- Second Inner Loop (for k in range(....):): 
    - This inner loop is responsible for printing the asterisks in each line.
    - The number of asterisks is determined by the expression. 
        - As i increases, the number of asterisks decreases.
- Printing Asterisks: The print('*' * n) statement 
    - The statement cleverly utilizes the * operator to create a row of asterisks. 
    - The sequence '*' represents an asterisk 
        - followed by a space, 
        - and by multiplying it by n, 
            - we create a row of n asterisks separated by spaces.
- Print Statement (print('*', end=' ')): 
    - Inside the inner loop, the program prints an asterisk (*) followed by a space. 
    - The end=' ' parameter ensures that the next character will be printed with a space instead of a new line, keeping the output on the same line.
- Newline (print()): 
    - After the inner loop completes for a particular row, the program uses print() without any arguments to move to the next line. 
    - This creates a new line for the next row of the pattern.

## Exercise 7 : Square grid

In [10]:
# SQUARE GRID PATTERN:

n = int(input('enter a number: ')) # Taking input from the user and  converting it to an integer

for i in range(n):   # Using for loop to iterate from 0 to n-1
    print('* ' * n)  # Printing row of asterisk '*' multiplied by the value n

enter a number: 7
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

## Exercise 8: Triangle grid

In [11]:
# INCREASING TRIANGLE PATTERN

n = int(input('enter a number: ')) # Taking input from the user and  converting it to an integer

for i in range(1, n + 1): # looping for n number of rows
    for j in range(1, i + 1): # looping for i number of columns for each row
        print('*', end = ' ') # Printing '*' separated by space
    print() # Empty print() method for next line

enter a number: 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [12]:
# DECREASING TRIANGLE PATTERN

n = int(input('enter a number: ')) # Taking input from the user and  converting it to an integer

for i in range(n, 0, -1): # Looping for number of rows ing given range in revers order
    for j in range(i): # Loop for printing the number of columns in given range
        print('*', end = ' ') # Printing '*' separated by space
    print() # Empty print() method for next line

enter a number: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [15]:
# RIGHT-ALIGNED DECREASING TRIANGULAR PATTERN

n = int(input('enter a number: ')) # Taking input from the user and  converting it to an integer

for i in range(n): # Outer loop iterting from 0 to n-1
    for j in range(i): # Inner loop to print spaces before astericks
        print(' ', end = ' ') # Printing ' ' separated by space
    for k in range(n - i): # Inner loop to print asteriscks
        print('*', end = ' ') # Printing '*' separated by space
    print() # Empty print() method for next line

enter a number: 7
* * * * * * *
  * * * * * *
    * * * * *
      * * * *
        * * *
          * *
            *

In [16]:
# RIGHT-ALIGNED TRIANGULAR PATTERN

n = int(input('enter a number: ')) # Taking input from the user and  converting it to an integer

for i in range(0, n + 1): # Outer loop iterting each line starting from 0 up to n
    for j in range(n - i): # Inner loop to print spaces before astericks
        print(' ', end = ' ') # Printing ' ' separated by space
    for j in range(i): # Inner loop to print asteriscks
        print('*', end = ' ') # Printing '*' separated by space
    print() # Empty print() method for next line

enter a number: 7

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

## Exercise : Print a right angle tringle

In [22]:
def right_angle_pattern(row):
    for i in range(1,row + 1): # Range will start form the 1 to the number of input rows plus 1 to give those rows specified
        print(my_input * i)
        
def reverse_right_angle_Pattern(row):
    for i in range(1, row + 1):
        print(" " * (row - i) + (my_input * i))
        
my_input = input("Please input the charactor you want to use: ")

num_rows = int(input("Please enter the number of rows: "))

right_angle_pattern(num_rows) 
reverse_right_angle_Pattern(num_rows)

Please input the charactor you want to use: &
Please enter the number of rows: 10
&
&&
&&&
&&&&
&&&&&
&&&&&&
&&&&&&&
&&&&&&&&
&&&&&&&&&
&&&&&&&&&&
         &
        &&
       &&&
      &&&&
     &&&&&
    &&&&&&
   &&&&&&&
  &&&&&&&&
 &&&&&&&&&
&&&&&&&&&&

## Exercise 9 : Printing shapes

### Printing the letter E

In [ ]:
def print_letter_E(rows):
    for row in range(rows):
        for col in range(rows):
            if col == 0 or (row == 0 or row == rows // 2 or row == rows -1):
                print("*", end="")
            else:
                print(" ", end="")
        print()
        
rows = int(input("Please Enter the number of rows for the Letter E(Minimum 5 rows): "))
print_letter_E(rows)

### Printing the letter F

In [ ]:
def print_letter_F(rows):
    for row in range(rows):
        for col in range(rows):
            if col == 0 or (row == 0 or row == rows // 2):
                print("$", end="")
            else:
                print(" ",end="")
        print()

F_rows = int(input("Enter the rows for the letter F(minimum of 5): "))
print_letter_F(F_rows)

## Exercise 10: Random Module

In [29]:
import random

## Functions

# seed(): Initialize the random number generator
# getstate(): Returns the current internal state of the random number generator
# setstate(): Restores the internal state of the random number generator
# getrandbits(): Returns a number representing the random bits
# randrange(): Returns a random number between the given range
# randint(): Returns a random number between the given range
# choice(): Returns a random element from the given sequence
# choices(): Returns a list with a random selection from the given sequence
# shuffle(): Takes a sequence and returns the sequence in a random order
# sample(): Returns a given sample of a sequence
# random(): Returns a random float number between 0 and 1
# uniform(): Returns a random float number between two given parameters
# triangular(): Returns a random float number between two given parameters, you can also set a mode parameter to specify the midpoint between the two other parameters
# betavariate(): Returns a random float number between 0 and 1 based on the Beta distribution (used in statistics)
# expovariate(): Returns a random float number based on the Exponential distribution (used in statistics)
# gammavariate(): Returns a random float number based on the Gamma distribution (used in statistics)
# gauss(): Returns a random float number based on the Gaussian distribution (used in probability theories)
# lognormvariate(): Returns a random float number based on a log-normal distribution (used in probability theories)
# normalvariate(): Returns a random float number based on the normal distribution (used in probability theories)
# vonmisesvariate(): Returns a random float number based on the von Mises distribution (used in directional statistics)
# paretovariate(): Returns a random float number based on the Pareto distribution (used in probability theories)
# weibullvariate(): Returns a random float number based on the Weibull distribution (used in statistics)

In [34]:
# varaibilise the ranges

high = 20
low = 1

answer = random.randint(low, high)
print(answer)

# Module.function

4

In [35]:
# input the guess from the user

print(f"Please guess number between 1 and {high}: ")

guess = int(input())

if guess == answer:
    print("You got it the first time")
else:
    if guess < answer:
        print("Please guess Higher")
    else:
        print("Please guess Lower")
    guess = int(input())
    if guess == answer:
        print("Well done, you guessed it")
    else:
        print("Sorry, you have not guessed correctly")

Please guess number between 1 and 20:
14
Please guess Lower
4
Well done, you guessed it

## Exercise 11: Using While loop in guessing game Random Module
This will allow player to continue guessing

As long as player enters the wrong answer the player will continue guessing answer

In [38]:
# varaibilise the ranges

high = 20
low = 1

answer_while = random.randint(low, high) # Module.function
print(answer_while)

# Initialise to any number that doesn't equal the answer
guess = 0 

print(f"Please guess number between 1 and {high}: ")

while guess != answer_while:
    guess = int(input())
    if guess == answer_while:
        print("Well done, you guessed it")
        break
    else:
        if guess < answer_while:
            print("Please guess Higher")
        else:
            print("Please guess Lower")

9
Please guess number between 1 and 20:
14
Please guess Lower
7
Please guess Higher
10
Please guess Lower
8
Please guess Higher
9
Well done, you guessed it

## Exercise 12: Binary search using pass

In [ ]:
# varaibilise the ranges

high = 1000
low = 1

print(f"Please think of a number between {low} and {high}: ")
input("Please ENTER to start")

guesses = 1

while True:
    guesses = low + (high - low) // 2
    hilo = input(f"My guess is {guesses}. Should I guess higher or low? Enter H for higher, L for lower or C if my guess was correct".casefold())
    if hilo == 'h':
        # Guess higher. THe low end of the range becomes 1 greater that the guess
        pass
    elif hilo == 'l':
        # Guess Lower. The High end of the range becomes 1 less than the guess
        pass
    elif hilo == 'c'    
        print(f"Well done, you guessed it in {guesses} guesses")
        break
    else:
        print("Please enter h,l, or c")

In [41]:
# varaibilise the ranges

high = 1000
low = 1

print(f"Please think of a number between {low} and {high}: ")
input("Please ENTER to start")

guesses = 1

while True:
    print(f"guessing in the range {low} to {high}.")
    guess = low + (high - low) // 2
    hilo = input(f"My guess is {guess}. Should I guess higher or low? Enter H for higher, L for lower or C if my guess was correct".casefold())
    if hilo == 'h':
        # Guess higher. THe low end of the range becomes 1 greater that the guess
        low = guess + 1
        print("Please guess Higher")
    elif hilo == 'l':
        # Guess Lower. The High end of the range becomes 1 less than the guess
        high = guess - 1
        print("Please guess Lower")
    elif hilo == 'c':  
        print(f"Well done, you guessed it in {guesses} guesses")
        break
    else:
        print("Please enter h,l, or c")
    guesses = guesses + 1

Please think of a number between 1 and 1000:
Please ENTER to start
guessing in the range 1 to 1000.
my guess is 500. should i guess higher or low? enter h for higher, l for lower or c if my guess was correcth
Please guess Higher
guessing in the range 501 to 1000.
my guess is 750. should i guess higher or low? enter h for higher, l for lower or c if my guess was correcth
Please guess Higher
guessing in the range 751 to 1000.
my guess is 875. should i guess higher or low? enter h for higher, l for lower or c if my guess was correcth
Please guess Higher
guessing in the range 876 to 1000.
my guess is 938. should i guess higher or low? enter h for higher, l for lower or c if my guess was correctl
Please guess Lower
guessing in the range 876 to 937.
my guess is 906. should i guess higher or low? enter h for higher, l for lower or c if my guess was correcth
Please guess Higher
guessing in the range 907 to 937.
my guess is 922. should i guess higher or low? enter h for higher, l for lower or c if my guess was correctl
Please guess Lower
guessing in the range 907 to 921.
my guess is 914. should i guess higher or low? enter h for higher, l for lower or c if my guess was correctl
Please guess Lower
guessing in the range 907 to 913.
my guess is 910. should i guess higher or low? enter h for higher, l for lower or c if my guess was correcth
Please guess Higher
guessing in the range 911 to 913.
my guess is 912. should i guess higher or low? enter h for higher, l for lower or c if my guess was correcth
Please guess Higher
guessing in the range 913 to 913.
my guess is 913. should i guess higher or low? enter h for higher, l for lower or c if my guess was correctc
Well done, you guessed it in 10 guesses

# Iterating over Lists

## Exercise : Create a Linear search program
- Search for an element in an array
- We will take elements form a user and
- We will ask user to put and element to search for 
- If the element matches whats in the array, then we print the index of the element
- if not found it will print the sting "not found"

In [ ]:
def linear_search(arr,target):
    # iterate using the range len construct
    # len returns the len of array
    # range describes the sequences 0- -1 which is the indexes for each element to access this array
    for i in range(len(arr)):
        # check if current element is equal to target
        if arr[i] == target:
            return i
    return -1

elements = input("Please enter the element of the list and make it Space separated: ").split()
ls = [int(e) for e in elements]

target = int(input("Enter the element to search for: "))

index = linear_search(ls, target)


# if function has found the element, it must do this else do theat
if index != -1:
    print("Element ", target, " is found at index: ", index)
else:
    print("Element ", target, " is not found in the list.")

## Exercise : Creating Colllatz in Python

- The Collatz conjecture is one of the most famous unsolved problems in mathematics. The conjecture asks whether repeating two simple arithmetic operations will eventually transform every positive integer into 1.

### Psuedocode

We want to see the if an arbituary even/odd number is given, how many times the number can be divisable intil it reaches 1 and not divasbale anymore.

- if Number is even, an arithmetic operation is applied
- if Number is odd, an arithmetic operation is applied

##### Declaring the function
- Use the def keyword
    - followed by function name
    - in parentheses, parse the parameter
- Creating the variables
    - Initialise var to increament == 1
    - create and empyty list
    - put a value to the list by using the append method
- Use the while loop, and apply the condition which will stop it (until the number is greater than 1). While condition is true, do this
    - also create condition to check if number is even or odd.
    - once the condition change to false, loop must be false.
- Take input value from user
- also print the funtion(with input_var) to be included in list

In [ ]:
def collatz(n):
    inc = 1
    ls_collats = []
    ls_collats.append(n) # this makes the inputed number as 1dt number
    
    while n>1:
        if n%2 == 0:
            n = n/2
        else:
            n = (n*3)+1
        ls_collats.append(n)
        ls_len = len(ls_collats)
        
    return ls_collats, ls_len

    

num = int(input("Please Enter your digit: "))
print(collatz(num))

## Exercise : Checking for two consecutive ones

- Count and see how many times a value has occured consevutively

In [ ]:
def count_consecutives(ls):
    # The 2 varaibles we will use
    count = 0
    total = 0
    # use for loop to check if the numbers are consuctive
    for num in ls:
        if num == 1:
            count = count + 1 # count will increase and go to the next line, if not 2, back to for loop check the next element. 
                              # if the next element is 1 again, count will Increase
            if count == 2:    # if the count is 2 and is T
                total = total + 1  # Total will increase
        else:
            count = 0
    return total

# Now take in the new inputs
elements = input("Enter the elements of the list (space-separete): ").split()
my_ls = [int(elem) for elem in elements]

occ = count_consecutives(my_ls)
print("Occcurances of two one consuctively happends: ", occ)

## Exercise : Finding the gretest number in a list

In [23]:
def find_greatest(lst):
    if not lst:
        return None
    
    great = lst[0]
    
    for num in lst:
        if num> great:
            great = num
            
    return great

elem = input("Enter all the elements of your list(space-separated)").split()
ls = [int(x) for x in elem]

result = find_greatest(ls)
print(ls , sep = ",")
print("the greatest is elemement in the list is: ", result)

Enter all the elements of your list(space-separated)44 55 77 3 63 28 245 632 673 13 578 31 57 21 67
[44, 55, 77, 3, 63, 28, 245, 632, 673, 13, 578, 31, 57, 21, 67]
the greatest is elemement in the list is:  673

## Exercise : Most Non-Zero row in the matrix
This program must find the non-zero rows in the Matrix such that we can find the customer that we would need to target

classes:
- No = 0
- Yes = 1

### Psudoecode

##### Declaring the function
- Use the def keyword
    - followed by function name
    - in parentheses, parse the parameter
        - This function checks the rows with the least amount of zeros in it
- Creating the variables
    - keep the count of the non zero elements
    - store the row with the most count
- Use a for loop to check each row in the matrix
    - Check the count of non-zero elements in the current row
        - use the generative expression
            - give me the number 1 for each element in row if that element is not equal to zero
        - and the sum function to sum the ones
    - use the if statement to check if the count is greater then the max_count(var1), if so, then do the following:
        - store the count we have as the max_count(var1)
        - store that row
        - return the max row

Now create our Matrix:

- the number of rows = number of rows in spreadsheet at the moment/ ask user
- the number of columns = number of columns in spreadsheet/ ask user

- create empty matrix
- print nextline
- print string that is entering the elements
- Use the for loop and get the elements in inputed row - vertical range
    - create an empty list of the rows within the matrix
    - use the for loop again to get the elements in the inputed col - Horizontal range
        - ask for the elements stating the posititons using the f string
        - append the elements in the row list
    - append the rows and add them into the matrix

- Print the matrix
- Use for loop and print the rows in the matrix
- the result is the function(and checking the matrix)


print('non-zero elements')

In [ ]:
def non_zero(matrix):
    max_count = 0
    max_row = None
    
    for row in matrix:
        count = sum(1 for e in row if e != 0)
        if count > max_count:
            max_count = count
            max_row = row
    return max_row 

rows = int(input("Please enter the number of rows in the matrix: "))
cols = int(input("Please enter the number of columns in the matrix: "))

matrix = []
print("\n")
print("Enter the matrix elements: ")
for i in range(rows):
    row = []
    for j in range(cols):
        element = int(input(f"Please enter the Elements in the matrix as position ({i}, {j}): "))
        row.append(element)
    matrix.append(row)
    
print("Matrix: ")
for row in matrix:
    print(row)
result = non_zero(matrix)
print("Row with the most non-zero elements is: ", result)

# Using Iterators instead looping
### Why use iterator instead of for loop Python?
- Iterators can be more memory-efficient than for loops, especially with large data sets. 
- They only generate the next value when you ask for it, so they donâ€™t load everything into memory at once.
- We will learn special tool in Pythonâ€™s itertools toolbox:
    - infinite iterators that just keep on giving, 
    - finite iterators that know their limits,
    - combinatoric iterators that love to mix and match.
    
### How do you loop through an iterator in Python?
- You can use a for loop or the next() function to go through an iterator. 
    - For example, 
        - for items in the iterator: will loop through each item until it reaches the end.
    
## Infinite iterators
- infinite iterators are the generators that never say â€œstop.â€ They just keep going and going!
- infinite iterators: 
    - count, 
    - cycle, and 
    - repeat

## Example 1: count()
- The count() function creates an infinite iterator that generates consecutive numbers. 
- This function can be used for
    - adding indexes or 
    - adding time-stamps to a dataset.
    
`count()` function 
- starts an infinite counter from 1. 
    - it pair each value from this counter with a weight measurement from our data set. 
    - This attaches a unique index to each weight measurement. 
        - The result is a dictionary where each weight is associated with a unique number.

In [1]:
from itertools import count

# Start counting from 1
counter = count(start=1)

# Simulated data points for weight measurements
weight_data = [70, 71, 69, 68, 70]

# Create a dictionary with indexes for each weight
indexed_data = {}
for index, weight in zip(counter, weight_data):
    indexed_data[index] = weight
print(indexed_data)

{1: 70, 2: 71, 3: 69, 4: 68, 5: 70}

## Example 2: cycle()
- The cycle() function creates an infinite iterator that loops over an input sequence indefinitely.
- This can be useful for 
    - tasks that require periodic or cyclical patterns.

Example:
-  weather data for seven days and next weekâ€™s temperature will be predicted to be similar to this weekâ€™s

`cycle()` function
- takes the list of days of the week and keeps repeating it. 
    - use islice() to take 14 values from this infinite loop, which gives us the days for the next two weeks. 
- We then pair each day with temperature data, effectively extending the 7-day temperature data into a 14-day forecast.

In [2]:
from itertools import cycle, islice

# Create a cycle of days of the week
days_of_week = cycle(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])

# Simulated temperature data for 7 days
temperatures = [23, 25, 22, 21, 20, 19, 24]

# Pair each temperature with a day of the week for the next two weeks
next_two_weeks_temp = list(zip(islice(days_of_week, 14), temperatures * 2))

print(next_two_weeks_temp)

[('Mon', 23), ('Tue', 25), ('Wed', 22), ('Thu', 21), ('Fri', 20), ('Sat', 19), ('Sun', 24), ('Mon', 23), ('Tue', 25), ('Wed', 22), ('Thu', 21), ('Fri', 20), ('Sat', 19), ('Sun', 24)]

## Example 3: repeat()
- The repeat() function creates an iterator that produces a specified value indefinitely or for a given number of times.
- This is useful when you need to fill or extend data with a constant value.

Example:
-  tracking monthly sales data and you want to project the same revenue for the next few months as a placeholder

`repeat()` function 
- is set to produce the value 5000 for 3 times. 
- These repeated values are then combined with the existing revenue data to give a full list of total revenue, including projections.

### What should you keep in mind when using the repeat () function of the Itertools module?
- Be cautious with repeat() because it generates an infinite loop of repeated values. 
- Always pair it with another function to limit the repetitions, or youâ€™ll get stuck in an endless loop!

In [3]:
from itertools import repeat

# Use repeat to generate the same revenue for the next 3 months
revenue_projection = list(repeat(5000, 3))

# Existing revenue data for past months
past_revenue = [4000, 4200, 4500]

# Combine past revenue and future projections
total_revenue = past_revenue + revenue_projection

print(total_revenue)

[4000, 4200, 4500, 5000, 5000, 5000]

## Finite iterators
- deal with tasks having a definite endpoint.
- Finite iterators:
    - Chain(), 
    - Compress(),
    - DropWhile()

## Example 1: chain()
- The chain() function  creates an iterator that links multiple sequences together.
- Useful for combining disparate data sets into a single sequence for easier analysis. 

Example:
- Have quarterly sales data stored in different lists, and you want to analyze the sales data for the entire year.

`chain()` function
- takes in the sales data from each quarter and links them into a single list. 
- This unified list, annual_sales, is easier to analyze than four separate lists. 
- Combining data this way allows for more holistic insights and facilitates various types of analysis, 
    - trend identification
    - statistical modeling.

In [4]:
from itertools import chain

# Quarterly sales data for a year
Q1_sales = [1000, 1100, 1050]
Q2_sales = [1200, 1300, 1250]
Q3_sales = [1100, 1000, 1150]
Q4_sales = [1050, 1100, 1200]

# Use chain to combine all the sales data
annual_sales = list(chain(Q1_sales, Q2_sales, Q3_sales, Q4_sales))

print(annual_sales)

[1000, 1100, 1050, 1200, 1300, 1250, 1100, 1000, 1150, 1050, 1100, 1200]

## Example 2: compress()
- The compress() function produces an iterator that filters elements from an input sequence based on another iterable containing Boolean values.
- useful for quickly filtering large datasets based on a set of conditions, which helps in focusing the analysis on only the data that matters.

Example
- list of product reviews and a corresponding list that marks each review as either relevant or not relevant.

`compress()` function 
- takes two lists: reviews and relevance_flags. 
- It goes through both lists together and keeps the reviews where the corresponding flag is 1 (relevant). 
- The result is a list containing only the relevant reviews.

In [5]:
from itertools import compress

# Product reviews
reviews = ["Great!", "Bad!", "Average.", "Excellent!", "Poor!"]

# Relevance flags: 1 for relevant, 0 for irrelevant
relevance_flags = [1, 0, 0, 1, 0]

# Use compress to keep only relevant reviews
relevant_reviews = list(compress(reviews, relevance_flags))

print(relevant_reviews)

['Great!', 'Excellent!']

## Example 3: dropwhile()
- The dropwhile() function creates an iterator that drops elements from an input sequence as long as a given condition is true.
- useful for ignoring a segment of data that doesnâ€™t meet certain criteria.

Example
- if youâ€™re analyzing website traffic and want to focus only on periods of high activity, dropwhile() can help you ignore low-traffic intervals.

`dropwhile()` function
- uses the is_low_traffic function to skip over the first elements that are below 15. 
- Once it encounters an element that is 15 or higher, it includes all elements after that.
- The result is a new list that starts from the first high-traffic hour.

In [6]:
from itertools import dropwhile

# Hourly website traffic counts
traffic_data = [10, 12, 8, 15, 20, 25, 30]

# Function to check for low traffic
def is_low_traffic(x):
    return x < 15

# Use dropwhile to ignore low-traffic hours
high_traffic_data = list(dropwhile(is_low_traffic, traffic_data))

print(high_traffic_data)

[15, 20, 25, 30]

## Combinatoric iterators
- explore all possible scenarios or arrangements in tasks.
- designed to perform 
    - combinations, 
    - permutations, and 
    - cross-products

## Example 1: product()
- The product() function creates an iterator that produces the Cartesian product of input iterables.
- This function is particularly useful for generating all possible combinations of different sets of parameters for model tuning.

Example:
- Imagine you want to try out various combinations of learning rates and batch sizes to optimize a machine-learning model.
    - This helps in running experiments to fine-tune machine learning models, allowing you to test each combination systematically.
    
`product()` function 
- takes two lists: learning_rates and batch_sizes. 
- It then creates an iterator that gives you all possible pairs between these two lists. 
- The result, parameter_combinations, includes all possible combinations of learning rates and batch sizes.

In [7]:
from itertools import product

# Possible learning rates and batch sizes
learning_rates = [0.01, 0.1, 0.5]
batch_sizes = [32, 64, 128]

# Generate all combinations using product
parameter_combinations = list(product(learning_rates, batch_sizes))

print(parameter_combinations)

[(0.01, 32), (0.01, 64), (0.01, 128), (0.1, 32), (0.1, 64), (0.1, 128), (0.5, 32), (0.5, 64), (0.5, 128)]

## Example 2: permutations()
- The permutations() creates an iterator that produces all possible arrangements of an input iterable. I
- This is useful for tasks like feature selection where you might want to test different combinations of input variables to improve a modelâ€™s performance.

Example, 
- if you have a dataset with three features-â€™Ageâ€™, â€˜Incomeâ€™, and â€˜Education Levelâ€™
    - use permutations() to see how different combinations of these features impact the model.
    
`permutations()` function 
- takes the list features and the integer 2, 
    - which specifies the length of the permutations we want to generate. 
- The output, feature_permutations, gives you all 2-element arrangements of the given features.
- This list can be used to experiment with different feature combinations in a machine-learning model. 
    - By testing each of these permutations, you can identify which set of features gives you the best model performance.

In [8]:
from itertools import permutations

# Features in a dataset
features = ['Age', 'Income', 'Education Level']

# Generate all permutations of features
feature_permutations = list(permutations(features, 2))

print(feature_permutations)

[('Age', 'Income'), ('Age', 'Education Level'), ('Income', 'Age'), ('Income', 'Education Level'), ('Education Level', 'Age'), ('Education Level', 'Income')]

## Example 3: combinations()
- The combinations() function creates an iterator over unique combinations of elements from an input iterable.
- Useful where you need to select a subset of features to feed into a model.

Example
- A dataset with columns like â€˜Ageâ€™, â€˜Salaryâ€™, and â€˜Years of Experienceâ€™.
    - Using combinations(), you could generate all possible pairs or triplets of these columns to find the most predictive set.
    
`combinations()` function
- takes the list of features and generates all unique 2-element combinations. 
- The output is stored in feature_combinations. You could then use this output to train your model with different feature sets.
- The idea is to find out which group of features makes your model the most accurate. 
    - This can help you improve model performance without adding extra complexity.

In [9]:
from itertools import combinations

# List of features in a dataset
features = ['Age', 'Salary', 'Years of Experience']

# Generate all 2-element combinations of features
feature_combinations = list(combinations(features, 2))

print(feature_combinations)

[('Age', 'Salary'), ('Age', 'Years of Experience'), ('Salary', 'Years of Experience')]

# Iterating over Dataframes

Iterating over pandas DataFrames is definitely not a best practise and you should only consider doing so only when this is absolutely necessary and when you have exhausted every other possible option that is likely to be more elegant and efficient.

- Iterating through pandas objects is generally slow. In many cases, iterating manually over the rows is not needed and can be avoided

##### Topics

- How to avoid iterating through DataFrames in pandas.
- Go through a â€œchecklistâ€ that you may need to reference every time before choosing to go with an iterative approach.
- How to do so in cases where no other option is suitable to your specific use-case.
- Discuss why you should avoid modifying pandas object while iterating over them.

##### Do we need to iterate over rows?

- Concept of vectorisation
- Most operations in pandas should (and can) be performed in a non-iterative context.

Before attempting to iterate through pandas objects
- Ensure that none of the options below suit the needs of your use-case:



- Vectorisation over iteration: 
    - pandas comes with rich set of built-in methods whose performance is optimised. 
    - Most of the operations could potentially be performed using one of these methods. 
    - You can even take a look at numpy and check whether any of its functions can be used in your context.
    
- Applying a function to rows: 
    - A common requirement is definitely when it comes to apply a function to every row
        - designed to work over only one row at a time, and not on the full DataFrame or Series. 
    - In such cases, itâ€™s always best to use apply() method instead of iterating through the pandas object. 
        - How to apply your own or another libraryâ€™s functions to pandas objects.
- Iterative manipulations: 
    - To perform iterative manipulations and at the same time performance is a concern, then you may have to take a look into cython or numba. 
- Printing a DataFrame: 
    - If you want to print out a DataFrame then simply use DataFrame.to_string() method in order to render the DataFrame to a console-friendly tabular output.

In case none of the above options will work for you, then you may still want to iterate through pandas objects.

Use:
- iterrows() or 
- itertuples() built-in methods.

In [1]:
import pandas as pd

In [2]:
# We have a Dictionary of keys:values pairs
# The value is a list
data = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18],
        'Stream': ['Math', 'Commerce',
                   'Arts', 'Biology'],
        'Percentage': [88, 92, 95, 70]}

In [3]:
df = pd.DataFrame(data, columns= ['Name', 'Age','Stream', 'Percentage'])

In [4]:
df

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

## Rowwise iterations

### Get value Using .loc[ ] function of the Dataframe of selected columns

Gets, or sets, the value(s) of the specified labels.

Specify both row and column with a label.

dataframe.loc[row, column)

### To access more than one row, 
##### Use double brackets and specify the labels, separated by commas:

df.loc[["Sally", "John"]]

##### Specify columns by including their labels in another list:

df.loc[["Sally", "John"], ["age", "qualified"]]

##### Specify a slice of the DataFrame with from and to labels, separated by a colon:

df.loc["Sally": "John"]


### a) .loc is label-based indexing- selecting columns based on index:

##### all rows:
df.loc[:, 'column_name']
df['column_name']

##### selected rows:
df.loc[0:5, 'column_name']

### b)boolean indexing using .loc:
df.loc[df['column_name'] < 5]

##### boolean indexing fro one column:
df.loc[df['column_condition'] < 12, ['column_desired']]

##### Returns

Single labels for both row and column ["Sally", "age"] returns the content of that cell.

Single label for one row ["Sally"] returns a Pandas Series.

A list of labels [["Sally", "Mary"]] returns a Pandas DataFrame.

In [7]:
# iterate through each row label-based indexing: by selecting columns based on index:
# use range(len(df)) to get the length of values in the df.
# .loc[ ] requires the name of the column we want the values of.

for i in range(len(df)):
    print(df.loc[i,'Name'], df.loc[i,'Age'])

Ankit 21
Amit 19
Aishwarya 20
Priyanka 18

### Get value Using .iloc[ ] function of the Dataframe of selected columns

dataframe.iloc[row, column]

##### selecting a single row:
df.iloc[3]

##### selecting a range of rows:
df.iloc[0:3]

### Selecting all rows, with columns within an index range:
##### all rows, 1st- 3rd columns, sliced at second index:
df.iloc[:, 0:3]

### Selecting a range of rows and a range of columns:
##### 1st to 3rd rows, 5th & 6th columns:
df.iloc[0:3, 4:6]

### By multiple noconsecutive rows and columns:
##### selecting rows 1, 4, 6 with columns 2, 3, 5:
df.iloc[[0, 3, 5], [1, 2, 4]]

##### Returns:

Single indexes for both row and column [1, 0] returns the content of that cell.

Single index for one row [1] returns a Pandas Series.

A list of indexes [[0, 2]] returns a Pandas DataFrame.

In [9]:
# iterate through each row and select 0th and 2nd index column respectively.
# use the index/integer position of the column instead of the column name 

for i in range(len(df)):
    print(df.iloc[i, 0], df.iloc[i, 2])

Ankit Math
Amit Commerce
Aishwarya Arts
Priyanka Biology

### Get value with .index method of the Dataframe of selected columns

In [5]:
# iterate through each row index wise and select columns
# The .index methods reads all the row elements/numbers in the index column

for i in df.index:
    print(df['Name'][i], df['Age'][i])

Ankit 21
Amit 19
Aishwarya 20
Priyanka 18

### Get value Using .itterrows( ) method of the Dataframe of selected columns

In [10]:
# returns an iterator that yields an index value and a pandas Series containing the data of each row
# It is used to iterate over DataFrame rows as (index, Series) pairs.
# index value: represents the row label, 
# Series: contains the row data as key-value pairs, where the keys are column names and the values are the corresponding cell values.
# Method does not preserve the dtypes across rows due to the fact that this method will convert each row into a Series.

# method allows you to access each row's data and perform operations or computations on it.
# here i == index and r == row
# We want the row element of selected column(s) until the last index

for i,r in df.iterrows():
    print(r['Name'], r['Age'])

Ankit 21
Amit 19
Aishwarya 20
Priyanka 18

##### Modifying while iterating over rows
- itâ€™s important to highlight that you should never modify a pandas DataFrame or Series you are iterating over.
- Depending on the data types of your pandas object, the iterator may return a copy of the object rather than a view.
- Writing anything to a copy wonâ€™t have the desired effect.
    - use apply() method instead.

In [19]:
df

        Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20      Arts          95
3   Priyanka   18   Biology          70

In [21]:
df["Age"] = df["Age"].apply(lambda x: x + 3)
df

        Name  Age    Stream  Percentage
0      Ankit   27      Math          88
1       Amit   25  Commerce          92
2  Aishwarya   26      Arts          95
3   Priyanka   24   Biology          70

### Get values in series with .iteritems method

In [8]:
# Use method of Series to iterate over all values of Series.
# Return the iterable tuples containing the (index, value) pairs from a Series.

for k,v in df.loc[0].iteritems():
    print(f"{k}: {v}")

Name: Ankit
Age: 21
Stream: Math
Percentage: 88

### Get value Using .itertuples( ) function of the Dataframe of selected columns

In [11]:
# Iterate the rows and print each row as a tuple
# generates an iterator object of the DataFrame, returning each row as a Pyton Tuple object.
# Have to use keyword get attributes with parameter r(which is a counter) and column name. 
# returns namedtuples for each row, 
# which can be more efficient for large datasets.
# To preserve the dtypes of the pandas object, then you should use itertuples() method instead.

for r in df.itertuples():
    print(getattr(r, 'Name'), getattr(r,'Age'))

Ankit 21
Amit 19
Aishwarya 20
Priyanka 18

## Columnwise Iterations

### Use for loop in syntax to iterate over all columns of DataFrame and get every column name.

In [10]:
for col in df:
    print(col)

Name
Age
Stream
Percentage

In [11]:
for cols in df.columns:
    print(cols)

Name
Age
Stream
Percentage

### Iterate over all columns by specifying each column name.

In [12]:
for col in df:
    print(df[col])

0        Ankit
1         Amit
2    Aishwarya
3     Priyanka
Name: Name, dtype: object
0    21
1    19
2    20
3    18
Name: Age, dtype: int64
0        Math
1    Commerce
2        Arts
3     Biology
Name: Stream, dtype: object
0    88
1    92
2    95
3    70
Name: Percentage, dtype: int64

### Get each value of DataFrame

In [18]:
for i,r in df.iterrows():
    print(f"{i} results")
    for col in df.columns:
        print(f"{col}: {r[col]}")

0 results
Name: Ankit
Age: 21
Stream: Math
Percentage: 88
1 results
Name: Amit
Age: 19
Stream: Commerce
Percentage: 92
2 results
Name: Aishwarya
Age: 20
Stream: Arts
Percentage: 95
3 results
Name: Priyanka
Age: 18
Stream: Biology
Percentage: 70

# Iterating over Dictionaries

## Using For loops

- Python dictionary is defined as a collection of data values, in which items are held as key-value pairs.
- Dictionaries are also known as associative arrays.
- These are the Topics:
    - How to iterate over dictionaries using a â€˜forâ€™ loop?
    - How to check if a given key already exists in a dictionary?
    - How to add a new keys to a dictionary?

In [24]:
transaction_data = {
 "transaction_id": 1000001,
 "source_country": "United Kingdom",
 "target_country": "Italy",
 "send_currency": "GBP",
 "send_amount": 1000.00,
 "target_currency": "EUR",
 "fx_rate": 1.1648674,
 "fee_pct": 0.50, 
 "platform": "mobile"
}

### Method 1: Iteration Using For Loop + Indexing

- Easiest way to iterate through a dictionary in Python, is to put it directly in a for loop.
- Allow you to iterate over its keys.
- Get access to the values, you can pass each key to the dictionary using the indexing operator [ ] :

In [25]:
for k in transaction_data:
    print(k, ":", transaction_data[k])

transaction_id : 1000001
source_country : United Kingdom
target_country : Italy
send_currency : GBP
send_amount : 1000.0
target_currency : EUR
fx_rate : 1.1648674
fee_pct : 0.5
platform : mobile

- To achieve making keys to be ordered alphabetically.
- simply pass transaction_data to the sorted() method:

In [28]:
for k in sorted(transaction_data):
    print(k, ":", transaction_data[k])

fee_pct : 0.5
fx_rate : 1.1648674
platform : mobile
send_amount : 1000.0
send_currency : GBP
source_country : United Kingdom
target_country : Italy
target_currency : EUR
transaction_id : 1000001

### Method 2: Iteration Using .keys( ) + Indexing

- Using the .keys() method that returns a Python object including the dictionaryâ€™s keys.
- Handy when you just need to iterate over the keys of a dictionary, but it can also be used in combination with the indexing operator to retrieve values

In [30]:
for key in sorted(transaction_data.keys()):
    print(key, "-->" , transaction_data[key])

fee_pct --> 0.5
fx_rate --> 1.1648674
platform --> mobile
send_amount --> 1000.0
send_currency --> GBP
source_country --> United Kingdom
target_country --> Italy
target_currency --> EUR
transaction_id --> 1000001

### Method 3: Iteration Using .items()

- the most â€œpythonicâ€ and elegant way to iterate through a dictionary is by using the .items() method, that returns a view of dictionaryâ€™s items as tuples:
    - In order to iterate over the keys and the values of the transaction_data dictionary, you just need to â€˜unpackâ€™ the two items embedded in the tuple

In [31]:
print(transaction_data.items())

dict_items([('transaction_id', 1000001), ('source_country', 'United Kingdom'), ('target_country', 'Italy'), ('send_currency', 'GBP'), ('send_amount', 1000.0), ('target_currency', 'EUR'), ('fx_rate', 1.1648674), ('fee_pct', 0.5), ('platform', 'mobile')])

In [32]:
for k,v in transaction_data.items():
    print( k, ">>", v)

transaction_id >> 1000001
source_country >> United Kingdom
target_country >> Italy
send_currency >> GBP
send_amount >> 1000.0
target_currency >> EUR
fx_rate >> 1.1648674
fee_pct >> 0.5
platform >> mobile

### Method: Iterating Through Nested Dictionaries

- each one of the keys represents a transaction and has a dictionary as a value

In [33]:
transaction_data_n = {
    "transaction_1": {
    "transaction_id": 1000001,
    "source_country": "United Kingdom",
    "target_country": "Italy",
    "send_currency": "GBP",
    "send_amount": 1000.00,
    "target_currency": "EUR",
    "fx_rate": 1.1648674,
    "fee_pct": 0.50, 
    "platform": "mobile"
    },
    "transaction_2":{
    "transaction_id": 1000002,
    "source_country": "United Kingdom",
    "target_country": "Italy",
    "send_currency": "GBP",
    "send_amount": 1000.00,
    "target_currency": "EUR",
    "fx_rate": 1.1648674,
    "fee_pct": 0.50, 
    "platform": "mobile"
    }
}

- In order to unpack the key-value pairs belonging to each nested dictionary

In [34]:
#1. Selecting key-value pairs for all the transactions

for k,v in transaction_data_n.items(): # for each key and value item in nested dict
    if type(v) is dict:                # if the type of value is a dict
        for nk,nv in v.items():        # 
            print(nk, ":", nv)

transaction_id : 1000001
source_country : United Kingdom
target_country : Italy
send_currency : GBP
send_amount : 1000.0
target_currency : EUR
fx_rate : 1.1648674
fee_pct : 0.5
platform : mobile
transaction_id : 1000002
source_country : United Kingdom
target_country : Italy
send_currency : GBP
send_amount : 1000.0
target_currency : EUR
fx_rate : 1.1648674
fee_pct : 0.5
platform : mobile

In [35]:
#2. Selecting key-value pairs for 'transaction_2 only'

for k,v in transaction_data_n.items():
    if type(v) is dict and k == "transaction_2":
        for sk, sv in v.items():
            print(sk, "-->", sv)

transaction_id --> 1000002
source_country --> United Kingdom
target_country --> Italy
send_currency --> GBP
send_amount --> 1000.0
target_currency --> EUR
fx_rate --> 1.1648674
fee_pct --> 0.5
platform --> mobile

### How to check if a given key already exists in a dictionary?

- Check membership in Python dictionaries using the in operator.
- Say that you wanted to check whether the send_currency field was available as a key in transaction_data

In [36]:
"send_currency" in transaction_data.keys()

True

-  to check if the value GBP was already assigned to a key in the dictionary

In [37]:
"GBP" in transaction_data.values()

True

- This wonâ€™t immediately tell you if GBP is the value assigned to the send_currency key or the target_currency key. 
- In order to confirm that, you can pass a tuple to the values() method:

In [39]:
print(("send_currency", "GBP") in transaction_data.items())
print(('target_currency', 'GBP') in transaction_data.items())

True
False

### How to add a new keys to a dictionary?

-  Add both the user_address and the user_email fields to the the data available in the dictionary.
-  Using the square brackets [] notation:

In [41]:
transaction_data['user_address'] = '221b Baker Street, London - UK'
for k,v in transaction_data.items():
    print(k,':',v)

transaction_id : 1000001
source_country : United Kingdom
target_country : Italy
send_currency : GBP
send_amount : 1000.0
target_currency : EUR
fx_rate : 1.1648674
fee_pct : 0.5
platform : mobile
user_address : 221b Baker Street, London - UK

- use the update() method

In [42]:
transaction_data.update(user_email= "user@example.com")
for k,v in transaction_data.items():
    print(k,"::",v)

transaction_id :: 1000001
source_country :: United Kingdom
target_country :: Italy
send_currency :: GBP
send_amount :: 1000.0
target_currency :: EUR
fx_rate :: 1.1648674
fee_pct :: 0.5
platform :: mobile
user_address :: 221b Baker Street, London - UK
user_email :: user@example.com

# How to Convert a Dictionary Into a Pandas DataFrame

- To create a pandas DataFrame out of a Python dictionary we can make use of the pandas.DataFrame.from_dict method that is used to construct DataFrames from dict of array-like or dicts objects.

In [43]:
users = {
  'fist_name': ['John', 'Andrew', 'Maria', 'Helen'],
  'last_name': ['Brown', 'Purple', 'White', 'Blue'],
  'is_enabled': [True, False, False, True],
  'age': [25, 48, 76, 19]
}

- Keys correspond to DataFrame columns.
- Every element in the list corresponds to the row-value for that particular column.
- Orient to be equal to 'columns'
    - The â€œorientationâ€ of the data. 
    - If the keys of the passed dict should be the columns of the resulting DataFrame, pass â€˜columnsâ€™ (default).
- This will work if Data in the dictionary is structured in such a way that every key corresponds to the DataFrame columns.

In [44]:
df = pd.DataFrame.from_dict(users)

In [45]:
df

  fist_name last_name  is_enabled  age
0      John     Brown        True   25
1    Andrew    Purple       False   48
2     Maria     White       False   76
3     Helen      Blue        True   19

- Use the orient='index' option as showcased in the following snippet such that every key-value pair in our dictionary is parsed as a DataFrame row.
- When using orient='index', we must explicitly specify the column names when calling from_dict().
- To construct a pandas DataFrame out of a Python dictionary, this time by parsing every key-value pair as a DataFrame row:

In [46]:
cols = ['first_name', 'last_name', 'is_enabled', 'age']
df = pd.DataFrame.from_dict(users, orient='index', columns=cols)

In [47]:
df

           first_name last_name is_enabled    age
fist_name        John    Andrew      Maria  Helen
last_name       Brown    Purple      White   Blue
is_enabled       True     False      False   True
age                25        48         76     19