# Pandas Library

In [ ]:
!pip install pandas

In [ ]:
!pip install xlrd

In [ ]:
!pip install openxyl

## Exercise 1: Read Data

### Using .excelFile 

Open Excel File

Pandas has different readers for reading data into data frames. One of them is an Excel reader.

In [1]:
# importing pandas
import pandas as pd

# importing Excel libraries
import openpyxl
import xlr

# install the python package xlrd
import xlrd

In [ ]:
excel_file = pd.excelFile('name_of_file.xlsx')

In [ ]:
excel_file.sheet_names

In [ ]:
# Reading the sheet into a DataFrame
df = excel_file.parse('name_of_sheets')

### Using Excel-Reader

### Using .read_

Note: pd.read_excel('Filename.xlsx'), may get some messy cluttered data frame.

In [ ]:
# Reading Excel Files with Pandas
df_excel = pd.read_excel('data.xlsx', engine='openpyxl')

In [ ]:
# Reading CSV Files with Pandas
df_csv = pd.read_csv('data.csv')

## Exercise 2: Write Data

### Using the pandas module’s to_excel() function

Has an additional parameters to control the formatting and layout of the Excel file.

In [ ]:
# Write the DataFrame to an Excel file
df.to_excel('example.xlsx', sheet_name='Sheet1', index=False)

In [ ]:
df.to_excel('styled_df.xlsx', engine='xlsxwriter')

In [ ]:
df.to_excel('output.xlsx', index=False, engine='openpyxl')

### Using the xlsxwriter module
Used to create and write data to Excel files. 
- It provides an extensive set of tools and functions to 
    - create, 
    - format, and 
    - customize Excel workbooks, 
    - worksheets, and 
    - cells.
- xlsxwriter is its ability to create 
    - charts and 
    - graphs, 
    - add images and 
    - shapes, and 
    - apply various formatting options to the data.

First create a new workbook object and a worksheet object. 
- Then use the worksheet object’s write() method to write the DataFrame’s data to the worksheet.

In [ ]:
import pandas as pd
import xlsxwriter

In [ ]:
# Create a new workbook and worksheet
workbook = xlsxwriter.Workbook('example.xlsx')
worksheet = workbook.add_worksheet()

In [ ]:
# Write the DataFrame's data to the worksheet
for row_num, values in enumerate(df.values):
    worksheet.write_row(row_num, 0, values)

In [ ]:
# Save the workbook
workbook.close()

### Using the openpyxl module.

Third-party library that can be used to create and write data to an Excel file in Python.

It provides a low-level interface for working with Excel files, allowing you to create worksheets, add data, and format cells.

Create a new workbook and worksheet using the Workbook() method and access a sheet using the sheetname or index.

In [ ]:
import openpyxl

In [ ]:
# create a new workbook
wb = openpyxl.Workbook()

In [ ]:
# select the active worksheet
ws = wb.active

In [ ]:
# add some data
ws['A1'] = 'Name'
ws['B1'] = 'Age'
ws['A2'] = 'John'
ws['B2'] = 25
ws['A3'] = 'Jane'
ws['B3'] = 30

In [ ]:
# save the workbook
wb.save('example.xlsx')

Save csv File

In [ ]:
df.to_csv('output.csv', index=False)

## Exercise 3: Select Column

Select Column in Excel

In [ ]:
# Select a single colum

df["Name_of_column"]
# or 
df.Name_of_column

column_a = df["Name_of_column"]

In [ ]:
# Select multiple columns

df[["Name_of_column1", "Name_of_column2", "Name_of_column3"]]

columns_a_b = df[["Name_of_column1", "Name_of_column2", "Name_of_column3"]]

In [ ]:
# Select rows by index

rows_0_to_4 = df[0:5]

## Exercise 3.1: Column types in Pandas
In Excel there are just three data types:
- Numeric (Number, Currency, Accounting, Date)
- Text
- Formula

Data types in Pandas are known as dtypes, and the main ones are:
- `int` and `float`: specific for integer and float numbers
- `datetime` and `timedelta`: specific for dates and offsets
- `object`: Just strings, they're used to store text, but pandas refers to them as objects.
- `bool`: specific for True/False values

`.describe()` method, only includes the numeric columns.

### Numeric operations and methods
Numeric columns support multiple operations

In [ ]:
# average value of the column
df['cost_price'].mean()

In [ ]:
# standard deviation of the column
df['cost_price'].std()

In [ ]:
df['cost_price'].describe()

In [ ]:
# increase the values by
df['cost_price'] * 1.10

# changes are permanent
df['cost_price'] = df['cost_price'] * 1.08

df['cost_price'] *= 1.08

In [ ]:
# new column. Let’s say we want to calculate a new column total_price
# total_price = retail_price ∗ order_quantity + shipping_price
# total_price = retail_price ∗ order_quantity + shipping_price

df['total_price'] = df['retail_price'] * df['order_quantity'] + df['shipping_price']

### Datetimes (and timedeltas)
- order_date
- ship_date

calculate the shipping_delay by checking how many days we have between order_date and ship_date

In [ ]:
df['ship_delay'] = df['ship_date'] - df['order_date']

df[['ship_date', 'order_date', 'ship_delay']].head()

Use timedeltas in combination with our columns

- 7 days is a "relative time", or a delta in time (a timedelta)

In [ ]:
df['ship_delay'] + pd.Timedelta(days = 10)

### Strings (type object)

Any type of text (long, short, containing special characters or not) will be of type object in a DataFrame.

simple concatenation operations are supported with strings

In [ ]:
df['production_name'] = df['product_name'] + '!!!'

In [4]:
# more advanced operations we could perform, using the .str
df['product_name'] = df['product_name'].str.replace(' ', '_')

In [ ]:
df['product_name'].str.contains('750')

## Exercise 4: Filter Data

Filter()

In [ ]:
# Filter rows based on a condition
filtered_data = df[df['A'] > 10]

## Exercise 4.1: Filter rows of a DataFrame based on a query expression

In [ ]:
df.query('A > 5 and B < 10')

## Exercise 5: Sort Data

sort()

In [ ]:
# Sort data by column A
sorted_data = df.sort_values(by='A')

## Exercise 6: Rename Column

Rename Column header Manually

In [ ]:
# Rename columns using a dictionary
df.rename(columns={'A': 'ColumnA', 'B': 'ColumnB'}, inplace=True)

## Exercise 7: Missing Data

iferror()

In [ ]:
# Drop rows with missing data
df.dropna()

In [ ]:
# Fill missing data with a value
df.fillna(value=0)

## Exercise 8: Sum

sum()

In [ ]:
# Group data by column 'A'
grouped_data = df.groupby('A')

# Aggregate data using sum function
sum_data = grouped_data.sum()

In [ ]:
# average value of the column
df['cost_price'].sum()

## Exercise 8.1: Cumulative sum of a column

In [ ]:
df['A'].cumsum()

## Exercise 9: Average

average()

In [ ]:
# average value of the column

df['cost_price'].mean()

## Exercise 10: Maximum

max()

## Exercise 11: Minimum

min()

## Exercise 11.1: Correlation matrix of a DataFrame

In [ ]:
df.corr()

## Exercise 12: Count Unique values

=SUM(1/COUNTIF())

In [ ]:
df['A'].value_counts()

## Exercise 12.1: Return the unique values in a column

In [ ]:
df['A'].unique()

## Exercise 12.2: Return the number of unique values in a column.

In [ ]:
df['A'].nunique()

## Exercise 13: Group Data

Pivot Table

In [ ]:
# Group data by column 'A'
grouped_data = df.groupby('A')

## Exercise 14: Merge Data

= VLOOKUP()/ =XLOOKUP()

In [ ]:
# Merge DataFrames using a common column
merged_data = pd.merge(df1, df2, on='A')

## Exercise 14.1: Excel VLOOKUP in Python, Pandas Dataframe Merge
-  `VLOOKUP` function is used to search for a specific value in a table and return a corresponding value from a different column in the same row.

- Python allows similar functionality using a combination of the pandas library and the `merge()` function.

In [ ]:
import pandas as pd

# Load the data into pandas DataFrames
df1 = pd.read_excel('data1.xlsx')
df2 = pd.read_excel('data2.xlsx')

# Merge the two DataFrames using a common column as the key
result = pd.merge(df1, df2, on='ID')

Pandas merge operation, 
- The how parameter specifies the type of merge that should be performed. 
    - Default value is inner, which means that only the rows that have matching keys in both DataFrames will be included in the result.
    - Specify left as the value of the how parameter to perform a left merge.
        - Left merge, or left join, includes all of the rows from the “left” DataFrame, along with any matching rows from the “right” DataFrame.
        - Rows from the “left” DataFrame that do not have a match in the “right” DataFrame will have null values for the right-side columns.
    - Specify right as the value of the how parameter to perform a right merge.
        - Right merge, or right join, includes all of the rows from the “right” DataFrame, along with any matching rows from the “left” DataFrame. 
        - Rows from the “right” DataFrame that do not have a match in the “left” DataFrame will have null values for the left-side columns.
    - Specify outer as the value of the how parameter to perform a outer merge.
        -  Outer merge, or full outer join, includes all rows from both DataFrames, regardless of whether there is a match in the other DataFrame. 
        - Rows that do not have a match will have null values for the columns from the other DataFrame.

In [ ]:
import pandas as pd
# Load the data into pandas DataFrames
df1 = pd.read_excel('data1.xlsx')
df2 = pd.read_excel('data2.xlsx')

# Perform a left merge
left_merge = pd.merge(df1, df2, on='ID', how='left')

# Perform a right merge
right_merge = pd.merge(df1, df2, on='ID', how='right')

# Perform an outer merge
outer_merge = pd.merge(df1, df2, on='ID', how='outer')

In [ ]:
def vlookup(left_df,right_df,left_key,right_key,right_val):
    """
    left_df : path to excel data which requires vlookup values
    right_df: path to excel data which is going to provide vlookup values
    left_key: the key column in the left dataset
    right_key: the key column in the right dataset
    right_val: the column in the right dataset whose values need to be moved to the right dataset
    """
    left = pd.read_excel(left_df)
    left.reset_index(inplace=True)
    right = pd.read_excel(right_df)
    right = right.loc[:,[str(right_key),str(right_val)]].rename(columns={right_key:left_key})
    temp = left.merge(right, how="left", on=left_key)
    temp.drop_duplicates(subset=["index"], keep ="first", inplace=True)
    return temp.set_index("index")

In [ ]:
# for case sensitive characters 
def vlookup(left_df, right_df, left_key, right_key, right_val):
    """
    left_df : DataFrame which requires vlookup values
    right_df: DataFrame which is going to provide vlookup values
    left_key: the key column in the left DataFrame
    right_key: the key column in the right DataFrame
    right_val: the column in the right DataFrame whose values need to be moved to the left DataFrame
    """
    left = left_df.copy()
    left.reset_index(inplace=True)
    right = right_df.copy()
    right[right_key] = right[right_key].astype(str)
    right = right.loc[:, [right_key, right_val]].rename(columns={right_key: left_key})
    temp = left.merge(right, how="left", on=left_key)
    temp.drop_duplicates(subset=["index"], keep="first", inplace=True)
    return temp.set_index("index")

In [ ]:
def vlookup1(left_df, right_df, left_key, right_key, right_val, result_col):
    """
    left_df : DataFrame which requires vlookup values

    right_df: DataFrame which is going to provide vlookup values

    left_key: the key column in the left DataFrame

    right_key: the key column in the right DataFrame

    right_val: the column in the right DataFrame whose values need to be moved to the left DataFrame

    result_col: the name of the column where the vlookup results should be added

    """
    left = left_df.copy()
    left.reset_index(inplace=True)
    right = right_df.copy()
    right[right_key] = right[right_key].astype(str)
    right = right.loc[:, [right_key, right_val]].rename(columns={right_key: left_key})
    temp = left.merge(right, how="left", on=left_key)
    temp.drop_duplicates(subset=["index"], keep="first", inplace=True)
    left_df[result_col] = temp.set_index("index")[right_val].values

    return left_df

In [ ]:
def vlookup2(left_df, right_df, left_key, right_key, left_val, result_col):
    """
    left_df : DataFrame which requires vlookup values

    right_df: DataFrame which is going to provide vlookup values

    left_key: the key column in the left DataFrame

    right_key: the key column in the right DataFrame

    right_val: the column in the right DataFrame whose values need to be moved to the left DataFrame

    result_col: the name of the column where the vlookup results should be added

    """
    temp = pd.merge(left_df[[left_key]], right_df[[right_key, left_val]], left_on=left_key, right_on=right_key, how='left')
    print(f"Temp DataFrame columns: {temp.columns}")  # Debugging print statement
    print(temp.head())  # Print the first few rows of temp DataFrame
    left_df.loc[:, result_col] = temp[left_val].values
    
    return left_df

## Exercise 14.2: How to do a Vlookup in python
- Vlookup is essentially combining two different tables using a shared column.

In [ ]:
import pandas as pd

df1 = pd.read_excel('vlookup_pandas.xlsx', sheet_name = 'Table1')
df2 = pd.read_excel('vlookup_pandas.xlsx', sheet_name = 'Table1')

results = df1.merge(df2, on = 'Name')

In [ ]:
display(df1)
display(df2)
display(results)

## Exercise 15: Concatenate Data

Copy and Paste Rows/Columns

In [ ]:
# Concatenate DataFrames
concatenated_data = pd.concat([df1, df2])

## Exercise 16: Pivot Table

Pivot Table

Pivot tables and cross-tabulation help summarize and visualize data.

In [ ]:
# Create a pivot table
pivot_table = pd.pivot_table(
df, index='A', columns='B', values='C', aggfunc='sum')

In [ ]:
# Perform cross-tabulation
cross_tab = pd.crosstab(df['A'], df['B'])

## Exercise 17: Transpose Data

Copy and Paste with Transpose

In [ ]:
df_transposed = df.transpose()

## Exercise 18: Change Data Type

Format Cells

In [ ]:
df['A'] = df['A'].astype(float)

## Exercise 19: Apply Custom Function

Custom Formula

In [ ]:
# to each element in a DataFrame or Series
df['A'].apply(lambda x: x * 2)

In [ ]:
# to each element in a Series.
df['A'].map(lambda x: x * 2)

## Exercise 20: Data Aggregation

Custom Formulas/Pivot Table

By default, it is performing the 'mean' aggregation function on all available numerical columns.

In [ ]:
data_df.pivot_table(index='Country')

### Business Question:
What is the average revenue by country for each product category?

organize the pivot table?
- put the country in the index, 
- the product category as a column, 
- then calculate the mean of revenue

`.pivot_table` method lets up pick the columns for the index, and column(s) for the column argument. The aggfunc argument lets us choose which aggregation we want.

In [ ]:
data_df.pivot_table(index='Country',columns ='Product_Category',values='Revenue',aggfunc='mean')

### Business Question:

What are each country’s minimum and maximum revenue by product category?

Show the maximum and minimum, we can specify both in a list in the aggfunc argument

In [ ]:
data_df.pivot_table(index='Country',columns ='Product_Category',values='Revenue',aggfunc=['min','max'])

### Business Question:

What is the percentage of bikes by country in the product category?

In [ ]:
def per_bike(ser):
    return ser.str.contains('Bikes').mean()*100

In [ ]:
# function helps us to calculate the percentage of bikes in the product category column.
(data_df.pivot_table(index='Country',values='Product_Category',aggfunc=per_bike))

### Tips: add a total row and column by using the margins argument set up to True.

In [ ]:
data_df.pivot_table(index='Country',columns ='Product_Category',values='Revenue',aggfunc='sum', margins=True)

### Tips: To fill missing values, you can use the fill_value argument and put the value you want.

In [ ]:
data_df.pivot_table(index=['Country','Product_Category'],columns = 'Sub_Category',values='Revenue',aggfunc='sum')

In [ ]:
data_df.pivot_table(index=['Country','Product_Category'],columns = 'Sub_Category',values='Revenue',aggfunc='sum',fill_value='0')

## Exercise 21: Display the first/last n rows of a DataFrame

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

## Exercise 22: Summary statistics for numerical columns in a DataFrame

In [ ]:
df.describe()

## Exercise 23: Remove specified columns or rows from a DataFrame

In [ ]:
# Drop a column
df.drop('A', axis=1)

In [ ]:
# Drop a row
df.drop(0, axis=0)

## Exercise 24: Replace specific values in a DataFrame

In [ ]:
df.replace('old_value', 'new_value')

## Exercise 25: Set the DataFrame index using one or more columns

In [ ]:
df.set_index('A', inplace=True)

In [ ]:
df.reset_index(inplace=True)

## Exercise 26: Divide continuous data , creating a categorical column

In [ ]:
pd.cut(df['A'], bins=3, labels=['Low', 'Medium', 'High'])

## Exercise 27: Shift the values in a column by a specified number of periods

In [ ]:
df['A'].shift(1)

## Exercise 28: Rolling view of a DataFrame or Series

In [ ]:
df['A'].rolling(window=3).mean()

## Exercise 29: Using Pandas with Excel

Using the XlsxWriter engine with Pandas-specify the engine parameter in the pd.ExcelWriter() function call as engine="xlsxwriter".

- Creates a new ExcelWriter object from Pandas and assigns it to the variable writer.
- ExcelWriter object is used to write data to an Excel file named 'report.xlsx'.
- Engine_kwargs parameter, is an optional dictionary that specifies additional keyword arguments to pass to the XlsxWriter engine.
- instructs XlsxWriter to treat all data values as strings in the Excel file.
- ExcelWriter object writer is created, it can be used to write dataframes to the Excel file using the to_excel() method of Pandas dataframe.

In [ ]:
writer = pd.ExcelWriter('report.xlsx', engine = "xlsxwriter", engine_kwargs={'options': {'strings_to_numbers': False}})
workbook  = writer.book

In [ ]:
def sales_data() -> pd.DataFrame:
    data = {'Date': [
            '01/01/2023', '01/02/2023', '01/03/2023', '01/04/2023', 
            '01/05/2023', '01/06/2023', '01/07/2023', '01/08/2023', 
            '01/09/2023', '01/10/2023', '01/11/2023', '01/12/2023'],
            'Items': [
            'Bookcase', 'Chair', 'Table', 'Art', 'Frame', 'Vase', 
            'Fan', 'Lamp', 'TV Console', 'Blinds', 'Curtain', 'Shelf'],
            'Cost Price': [
            15000, 12500, 10000, 4000, 2500, 13500, 12000, 15000, 
            12500, 10000, 4000, 2500],
            'Sale Price': [
            18000, 15000, 17000, 6500, 4550, 18570, 14650, 18500, 
            15450, 17800, 6900, 4950]}

    return pd.DataFrame(data)

Use the to_excel() method to write the data to the Excel file.

Method accepts the writer object as the first argument, followed by several optional parameters such as the 
- sheet name, 
- index, and 
- header options.

The file name or path is defined in the writer object. 

The to_excel method offers advanced options like 
- startrow and 
- startcol that determine the starting cell for writing the data. 
    - By default, the startrow and startcol parameters are set to zero, which corresponds to the cell A1

In [ ]:
# sales data
report_data: pd.DataFrame = data.sales_data()

# set report start row and column
start_row = 3
start_col = 0

# change dataframe index to start from 1
report_data.index = [i for i in range(1, len(report_data) + 1)]
#write dataframe to excel 'Sales' sheet in the wookbook
report_data.to_excel(writer, sheet_name='Sales', index=True, startrow=start_row, startcol=start_col, header=True)

In [ ]:
# close and save workbook
workbook.close()

# xlsxwriter module

Used to write 
- text, 
- numbers, 
- formulas, and 
- hyperlinks to multiple worksheets, and 
- it supports features such as 
    - formatting, 
    - images, 
    - charts, 
    - data validation, and 
    - conditional formatting.

## Exercise 1: Write Data to excel file
Create a file and add a sheet to the file

In [ ]:
import xlsxwriter

### Workbooks

In [ ]:
# Create an new Excel file and add a worksheet.
workbook = xlsxwriter.Workbook('test.xlsx')

# Specify the filename for the new XLSX file.
filename = "new_file.xlsx"
# Create a new workbook for handling XLSX operations.
workbook = xlsxwriter.Workbook(filename)

### Worksheets

In [ ]:
worksheet = workbook.add_worksheet() #  add Sheet1
worksheet = workbook.add_worksheet('WorkLog') # add sheet named WorkLog

# Add a new worksheet to the workbook.
worksheet = workbook.add_worksheet()

### Write the data to the excel sheet with in two ways using write(), 
- First way is write(row, column, data) where 
    - row is the row number and 
    - column is the column number and 
    - data is the data that we need to write into the file. 
- Second way is to write the into the cell name directly

In [ ]:
# First way
worksheet.write(0, 0, ‘MicroPyramid’)

In [ ]:
# Second way
worksheet.write(‘A1’, ‘MicroPyramid’)

In [ ]:
# Write some data.
worksheet. write('A1', 'Hello')
worksheet. write('A2', 'World')
worksheet.write('B2', 123)
worksheet.write('C2', '=A2+B2')

In [ ]:
# Write the DataFrame's data to the worksheet
for row_num, values in enumerate(df.values):
    worksheet.write_row(row_num, 0, values)

In [ ]:
# Iterate through the data and write it to the worksheet.
for row in range(len(data)):
    for col in range(len(data[row])):
        worksheet.write(row, col, data[row][col])

## Exercise 2: Adding Formats: 

You can define formats to change the appearance of cells.

Format cells using the format class to make your sheet look more presentable.

Format various cell properties, including 
- fonts, 
- colours, 
- patterns, 
- borders, 
- alignment, and 
- number formatting.

Set the width and height of columns and rows.

Format object is used to define cell formatting, which can be created by calling the add_format()method on the workbook.

In [ ]:
# Add a bold format.
Bold = workbook.add_format({'bold': True})

In [ ]:
font_20 = workbook.add_format('font_size': 20)

In [ ]:
# Use the bold format in the cell.
Worksheet. write('A1', 'Hello', 'bold')

### To create the report title, I used the

- title_text and 
- subtitle_text formats
- The font bold and increased the font size.
- Centred the text alignment to ensure it’s visually appealing.
- merged certain columns together using the merge_range() method to provide a cohesive title section.
- Within the text formats, I adjusted the font colour to stand out and catch attention.

In [ ]:
# report formatting

# borders
thick_borders = workbook.add_format({'border': 2, 'border_color': '#000000'})
thin_borders = workbook.add_format({'border': 1, 'border_color': '#A9A9A9'})

# text formats
title_text = workbook.add_format({'bold': True, 'font_size': 20, 'align':'center', 'bg_color':'blue', 'font_color': 'white'})

subtitle_text = workbook.add_format({'bold': True, 'font_size': 16, 'align':'center', 'bg_color':'blue', 'font_color': 'white'})

column_header_text = workbook.add_format({'bold': True, 'font_size': 12, 'align':'center'})
bold_text = workbook.add_format({'bold': True, 'font_size': 12,})

# date format
date_format = workbook.add_format({'num_format': 'dd-mmm-yyyy', 'font_size': 12, 'align':'right'})

# number format
number = workbook.add_format({'num_format': '#,##0.00_);(#,##0.00)', 'font_size': 11})
bold_number = workbook.add_format({'bold': True, 'num_format': '#,##0.00_);(#,##0.00)','font_size': 12, 'align':'right'})

In [ ]:
# report title
writer.sheets['Sales'].merge_range("A1:F1", "FURNITURE STORE SALES REPORT", title_text)
writer.sheets['Sales'].merge_range("A2:F2", f"{}", subtitle_text)

Added profit information to my data, by carrying out spreadsheet calculations using the write_formula() method. 
- the write() method works for formulas too.

### Calculated the profit for each row of the report table by 
- looping through the length of the report and 
- using string formatting to dynamically reference the row index for calculation.

Formula was written to a specific cell using cell notation (e.g., A1) and the ‘=’ sign was included. 
- assigned a cell format, ‘number’ to the calculated profit using the cell_format parameter, which specifies the style format to apply to the cell.
- value parameter, on the other hand, was not utilized in this calculation as it is primarily used when working with non-Excel applications.

In [ ]:
write_formula(row, col, formula[, cell_format[, value]])

In [ ]:
# Profit column
writer.sheets['Sales'].write(f'F{start_row+1}', 'Profit', column_header_text)
 
# calculate profit
for i in range(start_row+2, start_row+2 + len(report_data)):
    writer.sheets['Sales'].write_formula(f'F{i}', f'=E{i}-D{i}', number)

### Report Total at the bottom of the report, 

Included a total row to display the overall 
- cost, 
- sales and 
- profit. 

Utilize the write_formula() method. 

To enhance the visibility of the total row, I applied formatting options to make the text and numbers in the cells appear bold. The total values stand out and draw attention to the overall performance of the sales report.

In [ ]:
#Total row
last_row = len(report_data) + start_row + 2
writer.sheets['Sales'].write(f'C{last_row}', 'Total', bold_text)
writer.sheets['Sales'].write_formula(f'D{last_row}', f'=SUM(D{start_row+2}:D{last_row-1})', bold_number)
writer.sheets['Sales'].write_formula(f'E{last_row}', f'=SUM(E{start_row+2}:E{last_row-1})',bold_number)
writer.sheets['Sales'].write_formula(f'F{last_row}', f'=SUM(F{start_row+2}:F{last_row-1})', bold_number)

### Borders: To enhance the appearance of the report

Applied custom borders to the table using the conditional_format() method. 

This method allows you to add formatting to cells based on specific conditions that you define.
- able to add borders to the entire report rather than looping through cells individually.

Conditional_format() method offers a range of customization options

It is a dictionary that contains various parameters defining the type and style of the conditional format applied to the cells.

1. Parameter is type, which determines the type of conditional format to apply. 

The type parameter is required and offers several allowable values, including
- cell, 
- date, 
- text, 
- blanks, 
- no_blanks

2. Parameter is format, 
3. Parameter is criteria, 
4. Parameter is value, 
5. Parameter is minimum, 
6. Parameter is maximum.

Document for `conditional_format()` method understanding of all the available parameters and their functionalities.

Two types of border formats: 
- thin_borders and 
- thick_borders, 
    - specifying the weight and colour of the borders.
    
To add borders to all cells of the report, including both 
- blank and 
- non-blank cells, I used the blanks and no_blanks options within the type parameter.

In [ ]:
conditional_format(first_row, first_col, last_row, last_col, options)

In [ ]:
# add thick borders to report header row where cells are filled
writer.sheets['Sales'].conditional_format(start_row, 0, start_row, 5, {'type': 'no_blanks', 'format': thick_borders})

# add thick borders to report header row where cells are empty
writer.sheets['Sales'].conditional_format(start_row, 0, start_row, 5, {'type': 'blanks', 'format': thick_borders})

# add thin borders body of report where cells are filled
writer.sheets['Sales'].conditional_format(start_row+1, 0, last_row-1, 5, {'type': 'no_blanks', 'format': thin_borders})

# add thin borders body of report where cells are blank
writer.sheets['Sales'].conditional_format(start_row+1, 0, last_row-1, 5, {'type': 'blanks', 'format': thin_borders})

### Number and Date Format

Address the formatting of numerical values within the table, specifically the "cost" and "sales prices" columns.
- Numbers were displayed without any clear demarcation, making them difficult to read and interpret.

Incorporate the usage of thousands separator for the numerical values. 

By introducing this formatting feature, each number was intelligently separated by commas, aiding in visual segmentation and enhancing the overall legibility of the data.

In [ ]:
# add number formatting to the price columns
writer.sheets['Sales'].conditional_format(f'D{start_row+2}:E{last_row}', {'type': 'no_blanks', 'format': number})

# change the date formatting
writer.sheets['Sales'].conditional_format(f'B{start_row+2}:B{last_row}', {'type': 'no_blanks', 'format': date_format})

###  Column Widths: Due to the width of the price column data exceeding the default Excel column width, 

The set_column() method was utilized to expand the width of specific columns.

In [ ]:
# increase column widths
writer.sheets['Sales'].set_column('B:F', 15)

The autofit() method Simulates autofit for column widths

In [ ]:
worksheet.autofit()

### Hiding Gridlines: 

An underrated addition I made to the sheet was to hide the gridlines, which draws focus to the sales report table.

In [ ]:
writer.sheets['Sales'].hide_gridlines(2)

## Exercise 2: Insert Image to Excel File

insert_image(row, col, filename[, options])
- Insert an image in a worksheet cell

Parameters
- row (int) – The cell row (zero indexed).
- col (int) – The cell column (zero indexed).
- filename – Image filename (with path if required).
- options (dict) – Optional parameters for image position, scale and url.
    - method takes optional parameters in a dictionary to position and scale the image.

Insert image into the excel sheet with insert_image() function.

Set the height and width of the images in the excel sheet by setting the width and height of the cell.

In [ ]:
optional_para = {
    'x_offset':        0,
    'y_offset':        0,
    'x_scale':         1,
    'y_scale':         1,
    'object_position': 2,
    'image_data':      None,
    'url':             None,
    'description':     None,
    'decorative':      False,
}

In [ ]:
worksheet.insert_image('B5', 'logo.png')
worksheet.insert_image(2, 4, 'logo.png')

In [ ]:
# offset values are in pixels:
worksheet1.insert_image('B2', 'python.png', {'x_offset': 15, 'y_offset': 10})

In [ ]:
# The x_scale and y_scale parameters can be used to scale the image horizontally and vertically
worksheet.insert_image('B3', 'python.png', {'x_scale': 0.5, 'y_scale': 0.5})

In [ ]:
# optional decorative parameter is also used to help accessibility. 
# It is used to mark the image as decorative, and thus uninformative, for automated screen readers.
worksheet.insert_image('B3', 'python.png', {'decorative': True})

In [ ]:
# The object_position parameter can be used to control the object positioning of the image
worksheet.insert_image('B3', 'python.png', {'object_position': 1})

## Exercise 3: Draw Charts in the excel Sheet

Draw Bar and line charts in the excel sheet using xlsxwriter module using add_chart() method.

In [ ]:
chart = workbook.add_chart({'type': 'column'})

In [ ]:
# Write some data to add to plot on the chart.
data = [[5, 10, 15, 20, 25],]

worksheet.write_column('A1', data[0])

In [ ]:
# Configure the charts. In simplest case we just add some data series.
chart.add_series({'values': '=Sheet1!$A$1:$A$5'})

In [ ]:
# Insert the chart into the worksheet.
worksheet.insert_chart('A7', chart)
workbook.close()

## Exercise 3.1: To generate a basic column chart that showcases the total cost and sales prices per item

- Leveraging pandas’ groupby method with the sum aggregate function, I extracted the necessary values from my dataset.
- Then proceeded to create the column chart using XlsxWriter.
- Specifying the appropriate data range and chart options, 
    - I was able to visually represent the aggregated information in an intuitive and informative manner. 
    - This column chart not only allows for a quick comparison between cost and sales prices

In [ ]:
#Aggregate data by items and calculate total cost and sales prices
items_cost_sales_df = report_data.groupby('Items')[['Cost Price', 'Sale Price']].sum()

In [ ]:
# Create a column chart object
items_bar_chart = workbook.add_chart({"type": "column"})

# Configure the first series.
items_bar_chart.add_series({"name": "=Chart!B4", "categories": f"=Chart!$A$5:$A{chart_data_end_row}", "values": f"=Chart!$B$5:$B${chart_data_end_row}",})

# Configure the second series.
items_bar_chart.add_series({"name":"=Chart!C4", "categories": f"=Chart!$A$5:$A{chart_data_end_row}", "values": f"=Chart!$C$5:$C${chart_data_end_row}",})

## Exercise 3.2: XlsxWriter’s Worksheet Class’s add_table Method

worksheet.add_table()

add_table(first_row, first_col, last_row, last_col, options)
- Add an Excel table to a worksheet.

Parameters:
- first_row (int) — The first row of the range. (All zero indexed.)
- first_col (int) — The first column of the range.
- last_row (int) — The last row of the range.
- last_col (int) — The last col of the range.
- options (dict) — Table formatting options. (Optional)

Options parameter
- should be a dict containing the parameters that describe the table options and data.
    - data — 
        - We can add data directly to the table without directly calling any of the Worksheet’s write methods. 
        - We just pass the table a list of lists, where each internal list is a row.

    - autofilter- 
        - see an arrow to the right of each column header. 
        - If you click on one of these headers, you see something like this. 
            - By default, you get this if the header_row is on. 
            - If you don’t want these autofilters, you can turn it off with this option.
    - header_row-
         - By default, the first row is a header row. 
         - If you don’t provide column headers, you will get defaults of the form Column 1, Column 2, etc. 
         - These captions can be overridden using the columns parameter below. 
         - If you don’t want a header row, you can turn it off with this option.
    - banded_columns-
        - The banded_columns parameter can be used to create columns of alternating color in the table. 
            - It is off by default.
    - banded_rows-
        - The banded_rows parameter can be used to create rows of alternating color in the table. It is on by default.
    - first_column-
        - The first_column parameter can be used to highlight the first column of the table. 
        - The type of highlighting will depend on the style of the table. 
        - It may be bold text or a different color. It is off by default.
    - last_column-
        - Does the same for the last column as the above parameter does for the first column. It is off by default.
    - style-
        - The style parameter can be used to set the style of the table. 
        - Standard Excel table format names should be used (with matching capitalization). 
        - The default table style is ‘Table Style Medium 9’. 
        - You can also turn the table style off by setting it to None
    - total_row-
        - The total_row parameter can be used to turn on the total row in the last row of a table. 
        - It is distinguished from the other rows by a different formatting and also with dropdown SUBTOTAL functions. 
        - The default total row doesn’t have any captions or functions. 
        - These must by specified via the columns parameter. See the documentation for examples.
    - name-
        - This option allows you to name your table.
    - columns-
        - This can be a list of format dictionaries with a dictionary for each column. 
        - The available properties for each column are header, header_format, formula, total_string, total_function, total_value and format. 
        - You can see that we can specify the header and header format. The next four parameters allow you to configure your total_row if you have one. 
        - The format option allows you to format the whole column. 
        - Standard XlsxWriter Format object objects are used for this formatting. 
        - However, they should be limited to numerical formats for the columns and simple formatting like text wrap for the headers.

## Exercise 4: Perform the calculation in the Excel file.

In [ ]:
# Formula applied on one cell
worksheet.write_formula('E2', '=VLOOKUP(B2, 'Product Family'!A:B,2,FALSE)')

In [ ]:
# Calculate the sales in scope
worksheet.write_array_formula('G1:G1', '{=D1:D1*F2:F2}')

## Exercise 5: Closing the workbook for completion

In [ ]:
# Close the workbook to save the changes.
workbook.close()

## Exercise 6: Creating Multiple Sheets

In [ ]:
# create sheet NEW using the writer object
pd.DataFrame().to_excel(writer, sheet_name='NEW', index=True, startrow=0, startcol=0, header=True)

## Example 1: Data on monthly outgoings that we want to convert into an Excel XLSX file:

In [6]:
import xlsxwriter

In [7]:
# Create a workbook and add a worksheet.

# create a new workbook object using the Workbook() constructor Which takes one, non-optional, argument.
workbook = xlsxwriter.Workbook('Expenses01.xlsx')

# workbook object is then used to add a new worksheet via the add_worksheet() method:
# By default worksheet names in the spreadsheet will be Sheet1, Sheet2 etc
worksheet = workbook.add_worksheet()

In [8]:
# Some data we want to write to the worksheet.
expenses = (
    ['Rent', 1000],
    ['Gas',   100],
    ['Food',  300],
    ['Gym',    50],
)

In [9]:
# Start from the first cell. Rows and columns are zero indexed.
row = 0
col = 0

### worksheet.write()     

1. Create a Workbook (Excel file by) create Workbook() object.
2. Create a new worksheet by calling the add_worksheet() method.
3. Write data to an XlsxWriter file using the write() method.

write(row, col, *args)
- row – The cell row (zero indexed).
- col – The cell column (zero indexed).
- *args – The additional args that are passed to the sub methods such as
    - number, 
    - string and 
    - cell_format.
    
method supports two forms of notation to designate the position of cells: 
- Row-column cell notation notation and 
- A1 notation

write() method acts as a general alias for several more specific methods:
- `write_string()`
    - Strings that start with "=" are assumed to match a formula and are written using write_formula().
    - Strings that don’t match any of the above criteria are written using write_string().
- `write_number()`
    - Data types 
        - float, 
        - int, 
        - long, 
        - decimal.Decimal and 
        - fractions.Fraction
        - If none of the above types are matched the value is evaluated with float() to see if it corresponds to a user defined float type. If it does then it is written using write_number().
- `write_blank()`
    - empty strings "" are written using write_blank().
- `write_formula()`
- `write_datetime()`
    - Data types 
        - datetime.datetime, 
        - datetime.date 
        - datetime.time or 
        - datetime.timedelta
- `write_boolean()`
    - Data type bool is written using write_boolean().
- `write_url()`
    - Strings that match supported URL types are written using write_url().

In [ ]:
# These are equivalent.
worksheet.write(0, 0, 'Hello')
worksheet.write('A1', 'Hello')

In [10]:
# Iterate over the data and write it out row by row.
for item, cost in (expenses):
    worksheet.write(row, col,     item) # use the worksheet object to write data via the write() method:
    worksheet.write(row, col + 1, cost)
    row += 1

In [11]:
# Write a total using a formula.
worksheet.write(row, 0, 'Total')
worksheet.write(row, 1, '=SUM(B1:B4)')

0

In [12]:
workbook.close()

# Working with Pandas and XlsxWriter

## Exercise 1: Using XlsxWriter with Pandas

Use XlsxWriter with Pandas you specify it as the Excel writer engine

In [1]:
import pandas as pd

In [7]:
df_findings = pd.read_excel('cleaned_findings (4).xlsx')
df_findings.head()

,Unnamed: 0,id_left,name,entities.data,collaborators.data,collaborator_groups.data,id_right,type_x,title,description,...,title_x,title_y,id_users,attributes.email,attributes.name,attributes.first_name,attributes.last_name,No_days_Open,Overdue_Issue_No_days,Start_of_Quarter
0,0,3148,IT General Controls Review (IA Context),[],"[{'id': '294835', 'type': 'collaborators'}, {'...","[{'id': 'MzE0ODo3NTUzMQ==', 'type': 'collabora...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3151,Training Audit -IA (11Oct),"[{'id': '1681', 'type': 'entities'}]","[{'id': '246118', 'type': 'collaborators'}, {'...","[{'id': 'MzE1MTo3NTUzMQ==', 'type': 'collabora...",4574.0,issues,Amit Adequacy Finding,Amit Adequacy Finding,...,Alexander Forbes Ltd,Consolidated Legal Entity Path (Group),J7-Ux7ZV6Sx58UkrPoie,bhagwana@alexforbes.com,Amit Bhagwan,Amit,Bhagwan,561.0,481.0,2022Q4
2,2,3151,Training Audit -IA (11Oct),"[{'id': '1681', 'type': 'entities'}]","[{'id': '246118', 'type': 'collaborators'}, {'...","[{'id': 'MzE1MTo3NTUzMQ==', 'type': 'collabora...",4574.0,issues,Amit Adequacy Finding,Amit Adequacy Finding,...,Alexander Forbes Ltd,Consolidated Legal Entity Path (Group),J7-Ux7ZV6Sx58UkrPoie,bhagwana@alexforbes.com,Amit Bhagwan,Amit,Bhagwan,561.0,481.0,2022Q4
3,3,3151,Training Audit -IA (11Oct),"[{'id': '1681', 'type': 'entities'}]","[{'id': '246118', 'type': 'collaborators'}, {'...","[{'id': 'MzE1MTo3NTUzMQ==', 'type': 'collabora...",4574.0,issues,Amit Adequacy Finding,Amit Adequacy Finding,...,Alexander Forbes Ltd,Consolidated Legal Entity Path (Group),J7-Ux7ZV6Sx58UkrPoie,bhagwana@alexforbes.com,Amit Bhagwan,Amit,Bhagwan,561.0,481.0,2022Q4
4,4,3151,Training Audit -IA (11Oct),"[{'id': '1681', 'type': 'entities'}]","[{'id': '246118', 'type': 'collaborators'}, {'...","[{'id': 'MzE1MTo3NTUzMQ==', 'type': 'collabora...",4574.0,issues,Amit Adequacy Finding,Amit Adequacy Finding,...,Alexander Forbes Ltd,Consolidated Legal Entity Path (Group),J7-Ux7ZV6Sx58UkrPoie,bhagwana@alexforbes.com,Amit Bhagwan,Amit,Bhagwan,561.0,481.0,2022Q4

In [3]:
df_findings.columns

Index(['Unnamed: 0', 'id_left', 'name', 'entities.data', 'collaborators.data',
       'collaborator_groups.data', 'id_right', 'type_x', 'title',
       'description', 'creator_name', 'created_at', 'updated_at', 'position',
       'owner', 'recommendation', 'deficiency_type', 'severity', 'published',
       'identified_at', 'reference', 'reference_prefix', 'risk', 'scope',
       'escalation', 'cause', 'effect', 'cost_impact', 'executive_summary',
       'executive_owner', 'project_owner', 'closed', 'remediation_status',
       'remediation_plan', 'remediation_date', 'actual_remediation_date',
       'retest_deadline_date', 'actual_retest_date',
       'retesting_results_overview', 'owner_user.data',
       'executive_owner_user.data', 'project_owner_user.data',
       'creator_user.data.id', 'creator_user.data.type', 'owner_user.data.id',
       'owner_user.data.type', 'executive_owner_user.data.id',
       'executive_owner_user.data.type', 'project_owner_user.data.id',
       'project_owner_user.data.type', 'creator_user.data', 'ID1_x',
       'Assurance Function', 'Extended Remediation Date',
       'Management Response', 'Raised during follow up audit?',
       'Root Cause Catagory', 'Root Cause Driver', 'Velocity', 'id_issues',
       'type_y', 'ID1_y', 'id_x', 'title_x', 'title_y', 'id_users',
       'attributes.email', 'attributes.name', 'attributes.first_name',
       'attributes.last_name', 'No_days_Open', 'Overdue_Issue_No_days',
       'Start_of_Quarter'],
      dtype='object')

In [4]:
df_findings = df_findings[['id_right', 'type_x', 'title',
       'description', 'creator_name', 'created_at', 'updated_at', 'position',
       'owner', 'recommendation', 'deficiency_type', 'severity', 'published',
       'identified_at', 'reference', 'reference_prefix', 'risk', 'scope',
       'escalation', 'cause', 'effect', 'cost_impact', 'executive_summary',
       'executive_owner', 'project_owner', 'closed', 'remediation_status',
       'remediation_plan', 'remediation_date', 'ID1_x',
       'Assurance Function', 'Extended Remediation Date',
       'Management Response', 'Raised during follow up audit?',
       'Root Cause Catagory', 'Root Cause Driver', 'Velocity', 'id_issues',
       'type_y', 'ID1_y', 'id_x', 'title_x', 'title_y', 'id_users',
       'attributes.email', 'attributes.name', 'attributes.first_name',
       'attributes.last_name', 'No_days_Open', 'Overdue_Issue_No_days',
       'Start_of_Quarter']]

In [5]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Issues_and_findings.xlsx', engine='xlsxwriter')

In [6]:
# Convert the dataframe to an XlsxWriter Excel object.
df_findings.to_excel(writer, sheet_name='I&F')

## Exercise 2: Accessing XlsxWriter from Pandas

This is to apply XlsxWriter features such as Charts, Conditional Formatting and Column Formatting to the Pandas output we need to access the underlying workbook and worksheet objects.

- After that we can treat them as normal XlsxWriter objects.

In [8]:
# Get the xlsxwriter objects from the dataframe writer object.
workbook  = writer.book
worksheet = writer.sheets['I&F']

# Workbook and Worksheet objects can then be used to access other XlsxWriter features

### This is equivalent to the following code when using XlsxWriter on its own

In [ ]:
workbook  = xlsxwriter.Workbook('filename.xlsx')
worksheet = workbook.add_worksheet()

## Exercise 3: Adding Charts to Dataframe output

Available chart subclasses, and available subtypes: 
- Area,
    - stacked
    - percent_stacked
- Bar, 
    - stacked
    - percent_stacked
- Column, 
    - stacked
    - percent_stacked
- Doughnut, 
    - straight_with_markers
    - straight
    - smooth_with_markers
    - smooth
- Line,
    - stacked
    - percent_stacked
- Pie, 
- Scatter, 
- Stock, 
- Radar.
    - with_markers
    - filled

Steps:
1. chart object is created via the Workbook add_chart() method where the chart type is specified
2. It is then inserted into a worksheet as an embedded chart using the insert_chart() Worksheet method

or 

2. set in a chartsheet using the set_chart() Chartsheet method:

In [9]:
# 1. Create a chart object.
chart = workbook.add_chart({'type': 'column'})

In [13]:
# 2. Insert the chart into the worksheet.
worksheet.insert_chart(1, max_col + 1 , chart) 

# or

worksheet.insert_chart('A7', chart)

0

In [ ]:
# 2. Set in a chartsheet
chartsheet = workbook.add_chartsheet()
# ...
chartsheet.set_chart(chart)

### Example : List of List

In [ ]:
# Create a new Chart object.
chart = workbook.add_chart({'type': 'column'})

In [ ]:
# Write some data (list of List) to add to plot on the chart.

data = [
    [1, 2, 3, 4, 5],
    [2, 4, 6, 8, 10],
    [3, 6, 9, 12, 15],
]

worksheet.write_column('A1', data[0])
worksheet.write_column('B1', data[1])
worksheet.write_column('C1', data[2])

In [ ]:
# Configure the chart. In simplest case we add one or more data series.
chart.add_series({'values': '=Sheet1!$A$1:$A$5'})
chart.add_series({'values': '=Sheet1!$B$1:$B$5'})
chart.add_series({'values': '=Sheet1!$C$1:$C$5'})

# Insert the chart into the worksheet.
worksheet.insert_chart('A7', chart)

workbook.close()

### Example : Dataframe

In [ ]:
# Create a new Chart object.
chart = workbook.add_chart({'type': 'column'})

In [11]:
# Get the dimensions of the dataframe.
(max_row, max_col) = df_findings.shape

### chart.add_series()

In Excel a chart series is a collection of information that defines which data is plotted such as values, axis labels and formatting.

Done by defining a dictionary using a 
- list of values
    - [sheetname, first_row, first_col, last_row, last_col]
- category/value formulas:
    - take either a range formula such as =Sheet1!$A$2:$A$7 
    - take by generating the range programmatically, a list with zero indexed row/column values.
    
Series options that can be set are:

- values: 
    - This is the most important property of a series and is the only mandatory option for every chart object. 
    - This option links the chart with the worksheet data that it displays.
    - The data range can be set 
        - using a formula
        - using a list of values

- categories: 
    - This sets the chart category labels. 
    - The category is more or less the same as the X axis. 
    - In most chart types the categories property is optional and the chart will just assume a sequential series from 1..n.

- name: 
    - Set the name for the series. 
    - The name is displayed in the formula bar. 
        - For non-Pie/Doughnut charts it is also displayed in the legend. 
    - The name property is optional and if it isn’t supplied it will default to Series 1..n. 
        - The name can also be a formula such as =Sheet1!$A$1 or0 
        - The name can be a list with a sheetname, row and column such as ['Sheet1', 0, 0].

- line: 
     - Set the properties of the series line type such as color and width. See Chart formatting: Line.

- border: 
    - Set the border properties of the series such as color and style. See Chart formatting: Border.

- fill: 
    - Set the solid fill properties of the series such as color. See Chart formatting: Solid Fill.

- pattern: 
    - Set the pattern fill properties of the series. See Chart formatting: Pattern Fill.

- gradient: 
    - Set the gradient fill properties of the series. See Chart formatting: Gradient Fill.

- marker: 
    - Set the properties of the series marker such as style and color. See Chart series option: Marker.

- trendline: 
    - Set the properties of the series trendline such as linear, polynomial and moving average types. See Chart series option: Trendline.

- smooth: 
    - Set the smooth property of a line series.

- y_error_bars: 
    - Set vertical error bounds for a chart series. See Chart series option: Error Bars.

- x_error_bars: 
    - Set horizontal error bounds for a chart series. See Chart series option: Error Bars.

- data_labels: 
    - Set data labels for the series. See Chart series option: Data Labels.

- points: 
    - Set properties for individual points in a series. See Chart series option: Points.

- invert_if_negative: 
    - Invert the fill color for negative values. Usually only applicable to column and bar charts.

- overlap: 
    - Set the overlap between series in a Bar/Column chart. The range is +/- 100. The default is 0:

In [ ]:
chart.add_series({
    'categories': '=Sheet1!$A$1:$A$5',
    'values':     '=Sheet1!$B$1:$B$5',
    'line':       {'color': 'red'},
})

# Or using a list of values instead of category/value formulas:
# [sheetname, first_row, first_col, last_row, last_col]  

chart.add_series({
    'categories': ['Sheet1', 0, 0, 4, 0],
    'values':     ['Sheet1', 0, 1, 4, 1],
    'line':       {'color': 'red'},
})

In [12]:
# Configure the series of the chart from the dataframe data.
chart.add_series({'values': ['I&F', first_row , first_col , last_row , last_col]})

In [ ]:
# Insert the chart into the worksheet.
worksheet.insert_chart(1, 3, chart)

### chart.set_x_axis()

Method is used to set properties of the X axis

options that can be set are:

- name - Set the name (also known as title or caption) for the axis.
- name_font - Set the font properties for the axis name
- name_layout - Set the (x, y) position of the axis caption in chart relative units.
- num_font - Set the font properties for the axis numbers. (Applicable to category, date and value axes.)
- num_format - Set the number format for the axis. (Applicable to category, date and value axes.
    - number format is similar to the Worksheet Cell Format num_format apart from the fact that a format index cannot be used
- line - Set the properties of the axis line type such as color and width.
- fill - Set the solid fill properties of the axis such as color
- pattern - Set the pattern fill properties of the axis
- gradient - Set the gradient fill properties of the axis
- min - Set the minimum value for the axis range.(Applicable to value and date axes only.)
- max - Set the maximum value for the axis range
- minor_unit - Set the increment of the minor units in the axis range.
- major_unit - Set the increment of the major units in the axis range.
- interval_unit - Set the interval unit for a category axis. Should be an integer value. (Applicable to category axes only.)
- interval_tick - Set the tick interval for a category axis. Should be an integer value. (Applicable to category axes only.)
- crossing - Set the position where the y axis will cross the x axis. (Applicable to all axes.)
    - The crossing value can be a numeric value or the strings 'max' or 'min' to set the crossing at the maximum/minimum axis
        - For category axes the numeric value must be an integer to represent the category number that the axis crosses at. 
        - For value and date axes it can have any value associated with the axis.
        - If crossing is omitted (the default) the crossing will be set automatically by Excel based on the chart data.
- position_axis - Position the axis on or between the axis tick marks.
    - two allowable values 
        - on_tick and 
        - between
- reverse - Reverse the order of the axis categories or values.
- log_base - Set the log base of the axis range. (Applicable to value axes only.)
- label_position - Set the “Axis labels” position for the axis.
    - next_to (the default)
    - high
    - low
    - none
- label_align - Align the “Axis labels” the axis.
    - center (the default)
    - right 
    - left
- major_gridlines - Configure the major gridlines for the axis
    - Available:
        - visible
        - line
- minor_gridlines
- visible - Configure the visibility of the axis
    - The visible property is usually on for the X axis but it depends on the type of chart.
- date_axis - option is used to treat a category axis with date or time data as a Date Axis.
    -  allows you to set max and min values for a category axis which isn’t allowed by Excel for non-date category axes
- text_axis - used to treat a category axis explicitly as a Text Axis. (Applicable to category axes only.)
- minor_unit_type - For date_axis axes, see above, this option is used to set the type of the minor units. (Applicable to date category axes only.)
- major_unit_type
- minor_tick_mark
    - available options:
        - none
        - inside
        - outside
        - cross (inside and outside)
- major_tick_mark
- display_units
- display_units_visible

In [ ]:
chart.set_x_axis({
    'name': 'Earnings per Quarter',
    'name_font': {'size': 14, 'bold': True},
    'num_font':  {'italic': True },
})

In [ ]:
# Name

chart.set_x_axis({'name': 'Earnings per Quarter'})

In [ ]:
# Name font

chart.set_x_axis({'name_font': {'bold': True, 'italic': True}})

In [ ]:
# Name Layout

chart.set_x_axis({
    'name': 'X axis',
    'name_layout': {
        'x': 0.34,
        'y': 0.85,
    }
})

In [ ]:
# Num Font

chart.set_x_axis({'name_font': {'bold': True, 'italic': True}})

In [ ]:
# Num Format

chart.set_x_axis({'num_format': '#,##0.00'})
chart.set_y_axis({'num_format': '0.00%'})

In [ ]:
# line

chart.set_x_axis({'line': {'none': True}})

In [ ]:
# Min

chart.set_x_axis({'min': 3, 'max': 6})

In [ ]:
# Minor Unit

chart.set_x_axis({'minor_unit': 0.4, 'major_unit': 2})

In [ ]:
# Interval Unit

chart.set_x_axis({'interval_unit': 5})

In [ ]:
# Interval Tick

chart.set_x_axis({'interval_tick': 2})

In [ ]:
# Crossing

chart.set_x_axis({'crossing': 3})
chart.set_y_axis({'crossing': 'max'})

In [ ]:
# Axis Position

chart.set_x_axis({'position_axis': 'on_tick'})
chart.set_x_axis({'position_axis': 'between'})

In [ ]:
# Reverse

chart.set_x_axis({'reverse': True})

In [ ]:
# Log Base

chart.set_y_axis({'log_base': 10})

In [ ]:
# Label Position

chart.set_x_axis({'label_position': 'high'})
chart.set_y_axis({'label_position': 'low'})

In [ ]:
# Label Base

chart.set_x_axis({'label_align': 'left'})

In [ ]:
# Major Gridlines

chart.set_x_axis({
    'major_gridlines': {
        'visible': True,
        'line': {'width': 1.25, 'dash_type': 'dash'}
    },
})

In [ ]:
# Visible

chart.set_y_axis({'visible': False})

In [ ]:
# Date Axis 

chart.set_x_axis({'date_axis': True})

In [ ]:
# Text axis

chart.set_x_axis({'text_axis': True})

In [ ]:
# Minor Unit Type

chart.set_x_axis({
    'date_axis': True,
    'minor_unit': 4,
    'minor_unit_type': 'months',
})

In [ ]:
# Major and Minor Tick Marks

chart.set_x_axis({'major_tick_mark': 'none',
                  'minor_tick_mark': 'inside'})

In [ ]:
# Display Units

chart.set_x_axis({'display_units': 'thousands'})
chart.set_y_axis({'display_units': 'millions'})

In [ ]:
# Display Unit Visable

chart.set_x_axis({'display_units': 'hundreds',
                  'display_units_visible': False})

## Exercise 4: Combining 2 Tables In one Chart

### chart.combine()

The chart combine() method is used to combine two charts of different types

In [ ]:
# Create a primary chart.
column_chart = workbook.add_chart({'type': 'column'})
column_chart.add_series({...})

# Create a secondary chart.
line_chart = workbook.add_chart({'type': 'line'})
line_chart.add_series({...})

# Combine the charts.
column_chart.combine(line_chart)

# Working with Conditional Formatting

To apply formatting based on user defined criteria to an XlsxWriter file

- Use conditional_format() worksheet method.

To apply formatting based on user defined criteria to an XlsxWriter file.

Conditional format can be applied to a single cell or a range of cells.

You can use use 
- A1 notation
- Row/Column notation
    - With Row/Column notation you must specify all four cells in the range: 4
        - (first_row, first_col, last_row, last_col). 
    - If you need to refer to a single cell set the last_* values equal to the first_* values.

In [ ]:
worksheet.conditional_format(0, 0, 4, 1, {...})
worksheet.conditional_format('B1',       {...})
worksheet.conditional_format('C1:E5',    {...})

## Exercise 5: Adding Conditional Formatting to Dataframe output
    
Options parameter in conditional_format() must be a dictionary containing the parameters that describe the 
- type of the conditional format. 
- style of the conditional format.

Parameters:

type
- cell: used when a format is applied to a cell based on a simple criterion.
    - format
    - criteria
        - between
        - not between
        - equal to : ==
        - not equal to : !=
        - greater than : >
        - less than : <
        - greater than or equal to : >=
        - less than or equal to : <=
    - value
    - minimum
    - maximum

## Exercise 5.1: using a single cell and the greater than criteria

The value is generally used along with the criteria parameter to set the rule by which the cell data will be evaluated

If the type is cell and the value is a string then it should be double quoted

In [ ]:
worksheet.conditional_format('A1', {'type':     'cell',
                                    'criteria': 'greater than',
                                    'value':     5,
                                    'format':    red_format})

In [ ]:
worksheet.conditional_format('A1', {'type':     'cell',
                                    'criteria': 'equal to',
                                    'value':    '"Failed"',
                                    'format':   red_format})

In [ ]:
# value property can also be an cell reference

worksheet.conditional_format('A1', {'type':     'cell',
                                    'criteria': 'equal to',
                                    'value':    '$C$1',
                                    'format':   red_format})

## Exercise 5.2: using a range and the between criteria and the Max and Min paramaters

In [ ]:
worksheet.conditional_format('C1:C4', {'type':     'cell',
                                       'criteria': 'between',
                                       'minimum':  20,
                                       'maximum':  30,
                                       'format':   green_format})

## Exercise 5.3: Using format

Format parameter is used to specify the format that will be applied to the cell when the conditional formatting criterion is met. 

The format is created using the add_format() method.

In [ ]:
format1 = workbook.add_format({'bold': 1, 'italic': 1})

worksheet.conditional_format('A1', {'type':     'cell',
                                    'criteria': '>',
                                    'value':    5,
                                    'format':   format1})

In [ ]:
# Light red fill with dark red text.
format1 = workbook.add_format({'bg_color':   '#FFC7CE',
                               'font_color': '#9C0006'})

# Light yellow fill with dark yellow text.
format2 = workbook.add_format({'bg_color':   '#FFEB9C',
                               'font_color': '#9C6500'})

# Green fill with dark green text.
format3 = workbook.add_format({'bg_color':   '#C6EFCE',
                               'font_color': '#006100'})

- date
    - format
    - criteria
    - value
    - minimum
    - maximum

In [ ]:
date = datetime.datetime.strptime('2011-01-01', "%Y-%m-%d")

worksheet.conditional_format('A1:A4', {'type':     'date',
                                       'criteria': 'greater than',
                                       'value':    date,
                                       'format':   format1})

- time_period
    - format
    - criteria
        - 'criteria': 'yesterday',
        - 'criteria': 'today',
        - 'criteria': 'last 7 days',
        - 'criteria': 'last week',
        - 'criteria': 'this week',
        - 'criteria': 'next week',
        - 'criteria': 'last month',
        - 'criteria': 'this month',
        - 'criteria': 'next month'

In [ ]:
worksheet.conditional_format('A1:A4', {'type':     'time_period',
                                       'criteria': 'yesterday',
                                       'format':   format1})

- text
    - format
    - criteria
        - 'criteria': 'containing',
        - 'criteria': 'not containing',
        - 'criteria': 'begins with',
        - 'criteria': 'ends with',
    - value

In [ ]:
worksheet.conditional_format('A1:A4', {'type':     'text',
                                       'criteria': 'containing',
                                       'value':    'foo',
                                       'format':   format1})

- average
    - criteria
        - 'criteria': 'above',
        - 'criteria': 'below',
        - 'criteria': 'equal or above',
        - 'criteria': 'equal or below',
        - 'criteria': '1 std dev above',
        - 'criteria': '1 std dev below',
        - 'criteria': '2 std dev above',
        - 'criteria': '2 std dev below',
        - 'criteria': '3 std dev above',
        - 'criteria': '3 std dev below',
    - format

- duplicate : duplicate type is used to highlight duplicate cells in a range
    - format

In [ ]:
worksheet.conditional_format('A1:A4', {'type':   'duplicate',
                                       'format': format1})

- unique :  unique type is used to highlight unique cells in a range:
    - format

In [ ]:
worksheet.conditional_format('A1:A4', {'type':   'unique',
                                       'format': format1})

- top : top type is used to specify the top n values by number or percentage in a range
    - criteria
    - value
    - format
    
criteria can be used to indicate that a percentage condition is required

In [ ]:
worksheet.conditional_format('A1:A4', {'type':     'top',
                                       'value':    10,
                                       'criteria': '%',
                                       'format':   format1})

- bottom
    - criteria
    - value
    - format

- blanks :  blanks type is used to highlight blank cells in a range
    - format

In [ ]:
worksheet.conditional_format('A1:A4', {'type':   'blanks',
                                       'format': format1})

- no_blanks
    - format

In [ ]:
worksheet.conditional_format('A1:A4', {'type':   'no_blanks',
                                       'format': format1})

- errors
    - format

In [ ]:
worksheet.conditional_format('A1:A4', {'type':   'errors',
                                       'format': format1})

- no_errors
    - format

In [ ]:
worksheet.conditional_format('A1:A4', {'type':   'no_errors',
                                       'format': format1})

- formula
    - criteria
    - format

In [ ]:
# This formula will cause an Excel error on load due to
# non-English language and use of semi-colons.
worksheet.conditional_format('A2:C9' ,
    {'type':     'formula',
     'criteria': '=ODER($B2<$C2;UND($B2="";$C2>HEUTE()))',
     'format':   format1
    })

# This is the correct syntax.
worksheet.conditional_format('A2:C9' ,
    {'type':     'formula',
     'criteria': '=OR($B2<$C2,AND($B2="",$C2>TODAY()))',
     'format':   format1
    })

In [ ]:
worksheet.conditional_format('A1:A4', {'type':     'formula',
                                       'criteria': '=$A$1>5',
                                       'format':   format1})

- 2_color_scale
    - min_type
    - max_type
    - min_value
    - max_value
    - min_color
    - max_color

- 3_color_scale
    - min_type
    - mid_type
    - max_type
    - min_value
    - mid_value
    - max_value
    - min_color
    - mid_color
    - max_color

- data_bar
    - min_type
    - max_type
    - min_value
    - max_value
    - bar_color
    - bar_only
    - bar_solid
    - bar_negative_color
    - bar_border_color
    - bar_negative_border_color
    - bar_negative_color_same
    - bar_negative_border_color_same
    - bar_no_border
    - bar_direction
    - bar_axis_position
    - bar_axis_color
    - data_bar_2010

- icon_set
    - icon_style
    - icons
    - reverse_icons
    - icons_only

- stop_if_true

- multi_range

In [ ]:
# Apply a conditional format to the required cell range.
worksheet.conditional_format(1, max_col, max_row, max_col, {'type': '3_color_scale'})

## Exercise 5.1:  rules are used to highlight cells

In [ ]:
worksheet.conditional_format('B3:K12', {'type':     'cell',
                                        'criteria': '>=',
                                        'value':    50,
                                        'format':   format1})

worksheet.conditional_format('B3:K12', {'type':     'cell',
                                        'criteria': '<',
                                        'value':    50,
                                        'format':   format2})

# Formatting of the Dataframe output

Supports default formatting such as the 
- header and 
- index cells and any 
- cells that contain dates or datetimes.

For controlled formatting of the dataframe output 
- using Xlsxwriter directly with raw data taken from Pandas.

## Exercise 6: Set the default date and datetime formats via the Pandas interface

In [ ]:
import pandas as pd
from datetime import datetime, date

# Create a Pandas dataframe from some datetime data.
df = pd.DataFrame(
    {
        "Date and time": [
            datetime(2015, 1, 1, 11, 30, 55),
            datetime(2015, 1, 2, 1, 20, 33),
            datetime(2015, 1, 3, 11, 10),
            datetime(2015, 1, 4, 16, 45, 35),
            datetime(2015, 1, 5, 12, 10, 15),
        ],
        "Dates only": [
            date(2015, 2, 1),
            date(2015, 2, 2),
            date(2015, 2, 3),
            date(2015, 2, 4),
            date(2015, 2, 5),
        ],
    }
)

In [ ]:
writer = pd.ExcelWriter("pandas_datetime.xlsx",
                        engine='xlsxwriter',
                        datetime_format='mmm d yyyy hh:mm:ss',
                        date_format='mmmm dd yyyy')

In [ ]:
# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name="Sheet1")

In [ ]:
# Get the xlsxwriter workbook and worksheet objects in order to set the column widths and make the dates clearer.
workbook = writer.book
worksheet = writer.sheets["Sheet1"]

In [ ]:
# Get the dimensions of the dataframe.
(max_row, max_col) = df.shape

In [ ]:
# Set the column widths, to make the dates clearer.
worksheet.set_column(1, max_col, 20)

In [ ]:
# Close the Pandas Excel writer and output the Excel file.
writer.close()

## Exercise 7: To format any other, non date/datetime column data using set_column()

In [ ]:
import pandas as pd

# Create a Pandas dataframe from some data.
df = pd.DataFrame(
    {
        "Numbers": [1010, 2020, 3030, 2020, 1515, 3030, 4545],
        "Percentage": [0.1, 0.2, 0.33, 0.25, 0.5, 0.75, 0.45],
    }
)

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter("pandas_column_formats.xlsx", engine="xlsxwriter")

In [ ]:
# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name="Sheet1")

In [ ]:
# Get the xlsxwriter workbook and worksheet objects.
workbook = writer.book
worksheet = writer.sheets["Sheet1"]

In [ ]:
# Add some cell formats.
format1 = workbook.add_format({'num_format': '#,##0.00'})
format2 = workbook.add_format({'num_format': '0%'})

In [ ]:
# Set the column width and format.
# From row B2 and Column B
worksheet.set_column(1, 1, 18, format1)

In [ ]:
# Set the format but not the column width.
# From Row C2 and Column C
worksheet.set_column(2, 2, None, format2)

## Exercise 8: Formatting Dataframe headers

Pandas writes the dataframe header with a default cell format.

Cell format cannot be overridden using set_row().

To use your own format for the headings then turn off the automatic header from Pandas and write your own.

In [ ]:
import pandas as pd

# Create a Pandas dataframe from some data.
data = [10, 20, 30, 40, 50, 60]
df = pd.DataFrame({"Heading": data, "Longer heading that should be wrapped": data})

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter("pandas_header_format.xlsx", engine="xlsxwriter")

In [ ]:
# Turn off the default header and skip one row to allow us to insert a user defined header.
df.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False)

In [ ]:
# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

In [ ]:
# Add a header format.
header_format = workbook.add_format({'bold': True, 'text_wrap': True, 'valign': 'top', 'fg_color': '#D7E4BC', 'border': 1})

In [ ]:
# Write the column headers with the defined format.
for col_num, value in enumerate(df.columns.values):
    worksheet.write(0, col_num + 1, value, header_format)

## Exercise 9: Adding a Dataframe to a Worksheet Table

Tables in Excel are a way of grouping a range of cells into a single entity

To do this with a Pandas dataframe:
1. first write the data without the index or header, and by starting 1 row forward to allow space for the table header
2. create a list of headers to use in add_table().
3. add the Excel table structure, based on the dataframe shape and with the column headers we generated from the dataframe columns

In [ ]:
# 1
df.to_excel(writer, sheet_name='Sheet1',startrow=1, header=False, index=False)

In [ ]:
# 2
column_settings = [{'header': column} for column in df.columns]

In [ ]:
# 3
(max_row, max_col) = df.shape

worksheet.add_table(0, 0, max_row, max_col - 1, {'columns': column_settings})

## Exercise 10: Adding an autofilter to a Dataframe output

A Way of filtering a 2d range of data to only display rows that match a user defined criteria

To do this with a Pandas dataframe is to:

1. first write the data without the index (unless you want to include it in the filtered data)
2. get the dataframe shape and add the autofilter

In [ ]:
# 1
df.to_excel(writer, sheet_name='Sheet1', index=False)

In [ ]:
# 2
worksheet.autofilter(0, 0, max_row, max_col - 1)

## Exercise 10.1: add an optional filter criteria. 

The placeholder “Region” in the filter is ignored and can be any string that adds clarity to the expression

In [ ]:
worksheet.filter_column(0, 'Region == East')

## Exercise 10.2: Hidding rows not in criteria
Rows that don’t match must also be hidden. We use Pandas to figure our which rows to hide

In [ ]:
for row_num in (df.index[(df['Region'] != 'East')].tolist()):
    worksheet.set_row(row_num + 1, options={'hidden': True})

# Handling multiple Pandas Dataframes

write more than one dataframe to a worksheet or to several worksheets

## Exercise 11: write multiple dataframes to multiple worksheets

In [ ]:
# Write each dataframe to a different worksheet.
df1.to_excel(writer, sheet_name='Sheet1')
df2.to_excel(writer, sheet_name='Sheet2')
df3.to_excel(writer, sheet_name='Sheet3')

## Exercise 12: Position multiple dataframes within the same worksheet

In [ ]:
# Position the dataframes in the worksheet.
df1.to_excel(writer, sheet_name='Sheet1')  # Default position, cell A1.
df2.to_excel(writer, sheet_name='Sheet1', startcol=3)
df3.to_excel(writer, sheet_name='Sheet1', startrow=6)

In [ ]:
# Write the dataframe without the header and index.
df4.to_excel(writer, sheet_name='Sheet1', startrow=7, startcol=4, header=False, index=False)

In [14]:
# Close the Pandas Excel writer and output the Excel file.
writer.close()